<!-- ============================================ -->
<!--                CTA 2: careers                  -->
<!-- ============================================ -->

<section id="cta-careers"> <!-- Different ID but same styling -->
    <a href="https://www.youtube.com/watch?v=Xnk-IpT3nQA" target="_blank" aria-label="Watch video" style="display: block; text-decoration: none;">
        <div class="cs-container">
            <div class="cs-content">
                <h2 class="cs-title">Elite Makes It Happen</h2>
                <p class="cs-text">Driven by excellence, we get the job done right.</p>
            </div>
            <div class="cs-background">
                <picture>
                    <source media="(max-width: 600px)" srcset="/assets/images/newv-m.webp">
                    <source media="(min-width: 601px) and (max-width: 1023px)" srcset="/assets/images/newv-t.png">
                    <source media="(min-width: 1024px)" srcset="/assets/images/newv.webp">
                    <img loading="lazy" decoding="async" src="/assets/images/newv.webp" alt="Elite Earthworks youtube video">
                </picture>
            </div>
        </div>
    </a>
</section>