<!-- ============================================ -->
<!--                   Video                      -->
<!-- ============================================ -->

<section id="video-1314">
    <div class="cs-content">
        <h2 class="cs-title">Have A Project But Need A Professional?</h2>
        <a href="/contact" class="cs-button-solid">Contact Us For A Free Quote</a>
    </div>
    <a href="https://www.youtube.com/watch?v=Xnk-IpT3nQA" class="cs-big-link">
        <!--Background Image-->
        <picture class="cs-background">
            <source media="(min-width: 1024px)" srcset="/assets/images/elite-thumbnail.png">
            <source media="(min-width: 601px)" srcset="/assets/images/elite-thumbnail.png">
            <source media="(max-width: 600px)" srcset="/assets/images/elite-thumbnail.png">
            <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/elite-thumbnail.png" alt="meeting" width="1920" height="750">
        </picture>
        <!--Play Icon-->
        <picture class="cs-picture">
            <img class="cs-link-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/tax-play.svg" alt="play icon" width="24" height="24">
        </picture>
    </a>
</section>
                                
                                
<!-- ============================================ -->
<!--                    Services                  -->
<!-- ============================================ -->

<section id="services-1302">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-flex-group">
            </div>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <a href="/" class="cs-link">
                    <h3 class="cs-h3">Communication</h3>
                    <p class="cs-item-text">
                        We will maintain constant communication throughout a project so that there is constant transparency and understanding throughout the project.                     </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="/" class="cs-link">
                    <h3 class="cs-h3">Engineering</h3>
                    <p class="cs-item-text">
                        We have heard from our customers that when they choose a different contractor they will continue to approach us to solve the engineering aspects of the project since other contractors don't think through the job as thoroughly. They don't see the bigger picture and the problems and challenges that will need to be overcome in order to complete a job. Our expertise and understanding of the dirt world is unparalleled in the industry.                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="/" class="cs-link">
                    <h3 class="cs-h3">Compliance</h3>
                    <p class="cs-item-text">
                        We have a compliance team ready to handle any job's compliance requirements no matter the project ensuring that our customer can get paid and there are no delays.                    
                    </p>
                </a>
            </li>
        </ul>
    </div>
</section>