<!-- ============================================ -->
<!--                    CTA                       -->
<!-- ============================================ -->

<section id="cta-403">
    <div class="cs-container">
        <div class="cs-content">
            <h2 class="cs-title">Have A Project But Need A Professional?</h2>
            <p class="cs-text">
                From planning to execution, our experienced team is here to help you get it done right. Reach out today and let’s talk about how we can bring your project to life.          
            </p>
            <a href="/contact" class="cs-button-solid">Contact Us</a>
        </div>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="/assets/images/about-banner-m.webp">
        <source media="(min-width: 601px)" srcset="/assets/images/about-banner.webp">
        <img loading="lazy" decoding="async" src="/assets/images/about-banner.webp" alt="Elite Earthworks contact us banner" width="1920" height="660" aria-hidden="true">
    </picture>
</section>