<!-- ============================================ -->
<!--                 Navigation                   -->
<!-- ============================================ -->

<header id="cs-navigation">
    <!--Nav Logo-->
    <a href="/" class="cs-logo" aria-label="back to home">
        <img src="/assets/svgs/logo-header.svg" alt="Elite Earthworks and Engineering in Murrieta California" width="210" height="29" aria-hidden="true" decoding="async">
    </a>
    <!--Navigation List-->
    <nav class="cs-nav" role="navigation">
        <!--Mobile Nav Toggle-->
        <button class="cs-toggle" aria-label="mobile menu toggle">
            <div class="cs-box" aria-hidden="true">
                <span class="cs-line cs-line1" aria-hidden="true"></span>
                <span class="cs-line cs-line2" aria-hidden="true"></span>
                <span class="cs-line cs-line3" aria-hidden="true"></span>
            </div>
        </button>
        <!-- We need a wrapper div so we can set a fixed height on the cs-ul in case the nav list gets too long from too many dropdowns being opened and needs to have an overflow scroll. This wrapper acts as the background so it can go the full height of the screen and not cut off any overflowing nav items while the cs-ul stops short of the bottom of the screen, which keeps all nav items in view no matter how mnay there are-->
        <div class="cs-ul-wrapper">
            <ul id="cs-expanded" class="cs-ul" aria-expanded="false">
                <li class="cs-li">
                    <a href="/" class="cs-li-link">
                        Home
                    </a>
                </li>
                <li class="cs-li">
                    <a href="/about" class="cs-li-link">
                        About Elite
                    </a>
                </li>
                <!--Copy and paste this cs-dropdown list item and replace any .cs-li with this cs-dropdown group to make a new dropdown and it will work-->
                <li class="cs-li cs-dropdown" tabindex="0">
                    <span class="cs-li-link">
                        Our Services
                        <img class="cs-drop-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fdown.svg" alt="dropdown icon" width="15" height="15" decoding="async" aria-hidden="true">
                    </span>
                    <ul class="cs-drop-ul">
                        <li class="cs-drop-li">
                            <a href="/grading" class="cs-li-link cs-drop-link">Grading</a>
                        </li>
                        <li class="cs-drop-li">
                            <a href="/public-works" class="cs-li-link cs-drop-link">Public Works</a>
                        </li>
                        <li class="cs-drop-li">
                            <a href="/demolition" class="cs-li-link cs-drop-link">Demolition</a>
                        </li>
                        <li class="cs-drop-li">
                            <a href="/mining" class="cs-li-link cs-drop-link">Mining</a>
                        </li>
                        <li class="cs-drop-li">
                            <a href="/landowner-services" class="cs-li-link cs-drop-link">Landowner Services</a>
                        </li>
                        <li class="cs-drop-li">
                            <a href="/operated-equipment-rental" class="cs-li-link cs-drop-link">Operated Equipment Rental</a>
                        </li>
                    </ul>
                </li>

            <!--    <li class="cs-li">
                    <a href="/projects" class="cs-li-link">
                        Projects
                    </a>
          -->
                <li class="cs-li">
                    <a href="/careers" class="cs-li-link">
                        Careers
                    </a>
                </li>
                    <li class="cs-li">
                        <a href="/blog" class="cs-li-link">
                            Blog
                        </a>
                    </li>
                </li>
                <li class="cs-li">
                    <a href="/uganda" class="cs-li-link">
                        Giving Back
                    </a>
                </li>
                <li class="cs-li">
                    <a href="/contact" class="cs-li-link-c">
                        Contact Us
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <a href="/contact" class="cs-button-solid cs-nav-button">Contact Us</a>
</header>
                                