{% block head %}
    <link rel="stylesheet" href="/assets/css/newsletter.css">
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                  Subscribe                   -->
<!-- ============================================ -->

<section id="subscribe">
    <div class="cs-container">
        <div class="cs-content">
            <h2 class="cs-title">Subscribe To Our Newsletter To Receive Future Blog Posts & More</h2>
            <p class="cs-text">
                Stay updated with the latest insights and news from Elite Earthworks! Subscribe to our blog to receive email notifications whenever we publish valuable information about grading, excavation, and more!
            </p>
            <form class="cs-form" name="Newsletter" method="post" netlify>
                <input class="cs-input" required type="text" id="name-322" name="name" placeholder="First Name">
                <input class="cs-input" type="email" id="cs-email-301" name="find-us" placeholder="Email Address" required>
                <button class="cs-button-solid cs-submit" type="submit">Subscribe</button>
            </form>
            <!--Graphic-->
        <!--
            <img class="cs-floater" loading="lazy" decoding="async" src="/assets/images/a.png" alt="graphic" width="1920" height="486" aria-hidden="true">
        -->
        </div>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="/assets/images/newsletter-m.webp">
        <source media="(min-width: 601px)" srcset="/assets/images/newsletter.webp">
        <img loading="lazy" decoding="async" src="/assets/images/newsletter.webp" alt="people" width="1920" height="486" aria-hidden="true">
    </picture>
</section>                
                                
{% endblock %}