---
title: 'About'
description: 'Discover Elite: Our Commitment to Excellence and Innovation'
preloadImg: '/assets/images/banner-photo.webp'
permalink: 'about/'
pageTitle: About Us
eleventyNavigation:
    key: About Us
    order: 200
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/about.css">
{% endblock %}

{% block body %}
{% include 'components/interior-banner.html' %}

<!-- ============================================ -->
<!--            Side By Side Reverse              -->
<!-- ============================================ -->

<section id="sbsr-599">
    <div class="cs-container">
        <div class="cs-content">
            <h2 class="cs-title">Why Choose Elite?</h2>
            <p class="cs-text">
                At Elite Earthworks, we're all about bringing that big-time contractor capability straight to your doorstep
                — but with a personal touch you just won't find anywhere else. When you work with us,
                you're working with folks who make things happen. We're all-in for every project we take on,
                using nothing but the best gear and the brightest talent that Southern California has to offer
                to make sure your project isn’t just completed, but perfected.            
            </p></br>
            <p class="cs-text">
                Our seasoned experience ensures professional handling and attention to detail from start to
                finish. We also boast the most up-to-date software and equipment in the industry, making
                sure your job is estimated and completed quicker than you can say ‘’break ground.’’ Our
                approach to the latest technology means we deliver the sharpest, most efficient budgets and
                proposals, maximizing your project's value every time.        
            </p></br>
            <p class="cs-text">
                By choosing Elite, you wisely select a partner dedicated to excellence and prepared to take
                your project from concept to completion with expertise and integrity.          
            </p>
        </div>
    </div>
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="/assets/images/blog2-m.webp">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="/assets/images/blog2.webp">
        <img loading="lazy" decoding="async" src="/assets/images/blog2.webp" alt="Why Choose Elite" width="960" height="796">
    </picture>
</section>

<!-- ============================================ -->
<!--                Side By Side                  -->
<!-- ============================================ -->

<section id="sbs-598">
    <div class="cs-container">
        <div class="cs-content">
            <h2 class="cs-title">Our Story</h2>
            <p class="cs-text">
                Founded in 1989 by Andrew Backlund, Elite began as GK Backlund, growing into a leading
                excavation contractor and a go-to for grading and demolition in Southern California.
                Incorporated in 2011 and renamed to Elite Earthworks in 2013, we've built our name on
                reliability, quality, and expertise in California public works. Whether it's precise grading or
                comprehensive demolition, our team is committed to excellence.            </p>
        </div>
    </div>
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="/assets/images/bowling-m.webp">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="/assets/images/bowling.webp">
        <img loading="lazy" decoding="async" src="/assets/images/bowling.webp" alt="Our story" width="960" height="796">
    </picture>
</section>

<!-- ============================================ -->
<!--            Side By Side Reverse              -->
<!-- ============================================ -->

<section id="sbsr-599">
    <div class="cs-container">
        <div class="cs-content">
            <h2 class="cs-title">Our Technology</h2>
            <p class="cs-text">
                Leveraging 3D modeling and GPS technology, we deliver each project with unmatched
                accuracy. This method keeps our clients updated on their project's status, offering
                transparency every step of the way.
                With our state-of-the-art Field Tracking software, we gain immediate insights into job costs,
                refining our estimates to ensure efficient and economical bidding. This streamlined process
                is designed to save our clients money across excavation, public works in California, and
                specialized grading and demolition services.            
            </p>
        </div>
    </div>
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="/assets/images/drone.gif">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="/assets/images/drone.gif">
        <img loading="lazy" decoding="async" src="/assets/images/drone.gif" alt="drone surveying land" width="960" height="796">
    </picture>
</section>

<!-- ============================================ -->
<!--                    Services                  -->
<!-- ============================================ -->

<section id="services-1302">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-flex-group">
            </div>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <div class="cs-link">
                    <h3 class="cs-h3">Communication</h3>
                    <p class="cs-item-text">
                        We're all about open lines. From day one to the big reveal, we'll keep you in the loop, making
                        sure you're never left wondering what's happening with your project.                    
                </div>
            </li>
            <li class="cs-item">
                <div class="cs-link">
                    <h3 class="cs-h3">Engineering</h3>
                    <p class="cs-item-text">
                        Here’s a little secret our clients have shared: going with someone else often means they end
                        up knocking on our door for help later. Why? Because not everyone gets the details of a
                        project like we do. Seeing the full picture and navigating the bumps along the way? That’s
                        our bread and butter.                    
                    </div>
            </li>
            <li class="cs-item">
                <div class="cs-link">
                    <h3 class="cs-h3">Compliance</h3>
                    <p class="cs-item-text">
                        Got compliance headaches? Let us handle that. Our compliance crew is on it, making sure
                        everything’s squared away so your project moves forward without a hitch, ensuring you get
                        paid on time, every time.                    
                    </p>
                </div>
            </li>
        </ul>
    </div>
</section>

<!-- ============================================ -->
<!--                   Quote                      -->
<!-- ============================================ 

<section id="quote-561">
    <div class="cs-container">
        <div class="cs-content">
            <p class="cs-quote">
                This is a very legitimate quote on how amazing this company is! I am a super satisfied customer who uses this business all the time.
            </p>
            <span class="cs-name">Dan Smith</span>
            <span class="cs-company">The Fake Company</span>
        </div>
    </div>
</section>                      -->

<!-- ============================================ -->
<!--                   Services                   -->
<!-- ============================================ -->  

<section id="services-1629">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-flex">
                <h2 class="cs-title">Our Core Beliefs</h2>
            </div>
            <p class="cs-text">
                At Elite Earthworks, our values are the heartbeat of everything we do. Safety first, because nothing else
                matters if we're not all going home at the end of the day. Efficiency and quality? They’re what
                we’re known for, ensuring your projects exceed expectations.
                We believe in keeping our team sharp with ongoing training, making sure we’re always
                ahead of the curve. Our focus? You. Every service, every interaction, is about making your
                experience as positive as possible. And innovation is how we stay at the forefront, always
                bringing you the very best in the business.
                Our promise of clear communication, expert engineering solutions, and strict compliance
                isn't just talk. It's our way of showing we're serious about delivering excellence, project after
                project.            </p>            
        </div>            
        <ul class="cs-card-group">
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon"
                            src="/assets/svgs/safety.svg"
                            loading="lazy" decoding="async" alt="safety" width="32" height="32" aria-hidden="true">
                </picture>
                <!-- Text Grouped For Flexbox-->
                <div class="cs-text-group">
                    <h3 class="cs-h3">Safety</h3>
                    <p class="cs-item-text">
                        For us, safety is our foundation. We go above and beyond to protect our team, ensuring
                        every protocol is followed and ingrained in our daily operations.                    
                    </p>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon" src="/assets/svgs/time.svg"
                            loading="lazy" decoding="async" alt="efficiency" width="32" height="32" aria-hidden="true">
                </picture>
                <!-- Text Grouped For Flexbox-->
                <div class="cs-text-group">
                    <h3 class="cs-h3">Efficiency</h3>
                    <p class="cs-item-text">
                        We fine-tune every aspect of our projects, from workflows to resource allocation,
                        guaranteeing timely completions and high-quality outcomes.                   
                    </p>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon"
                            src="/assets/svgs/team.svg"
                            loading="lazy" decoding="async" alt="quality of work" width="32" height="32" aria-hidden="true">
                </picture>
                <!-- Text Grouped For Flexbox-->
                <div class="cs-text-group">
                    <h3 class="cs-h3">Quality of Work</h3>
                    <p class="cs-item-text">
                        Our focus on detail and commitment to incredible quality guarantees that every project
                        surpasses both industry benchmarks and client hopes.                    
                    </p>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon"
                            src="/assets/svgs/education.svg" loading="lazy"
                            decoding="async" alt="training" width="32" height="32" aria-hidden="true">
                </picture>
                <!-- Text Grouped For Flexbox-->
                <div class="cs-text-group">
                    <h3 class="cs-h3">Training</h3>
                    <p class="cs-item-text">
                        We’ve always been dedicated to continuous learning. Our comprehensive training programs
                        keep our team armed with the latest knowledge and techniques to tackle any challenge.                    
                    </p>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon"
                            src="/assets/svgs/public-service.svg" loading="lazy"
                            decoding="async" alt="customer focused" width="32" height="32" aria-hidden="true">
                </picture>
                <!-- Text Grouped For Flexbox-->
                <div class="cs-text-group">
                    <h3 class="cs-h3">Customer Focused</h3>
                    <p class="cs-item-text">
                        Going beyond our clients' expectations is what we aim for. We're all about open
                        communication and are focused on providing custom solutions.                    
                    </p>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon"
                            src="/assets/svgs/innovation.svg"
                            loading="lazy" decoding="async" alt="innovation" width="32" height="32" aria-hidden="true">
                </picture>
                <!-- Text Grouped For Flexbox-->
                <div class="cs-text-group">
                    <h3 class="cs-h3">Innovation</h3>
                    <p class="cs-item-text">
                        We're driven by the belief that there’s always a better way to build. By integrating
                        cutting-edge technologies and creative problem-solving, we lead projects that redefine
                        what's possible.               
                    </p> 
                </div>
            </li>
        </ul>
    </div>
</section>
                                
<!-- ============================================ -->
<!--                Uganda                  -->
<!-- ============================================ -->

<section id="uganda-999">
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="/assets/images/uganda-group-pic-m.webp">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="/assets/images/uganda-group-pic.webp" style="border-radius: 10px;">
        <img loading="lazy" decoding="async" src="/assets/images/uganda-group-pic.webp" alt="Uganda group pic" width="960" height="796">
    </picture>
    <div class="cs-container">
        <div class="cs-content">
            <h2 class="cs-title">Giving back To Uganda</h2>
            <p class="cs-text">
                Our grading company is committed to giving back to Uganda by actively participating in community development initiatives. Through partnerships with local organizations, we aim to contribute to the well-being of the Ugandan people. This includes supporting infrastructure projects, providing training opportunities for local residents, and promoting sustainable practices in the construction industry. By investing in the community, we strive to create a positive impact, foster growth, and enhance the overall quality of life for the people of Uganda.
            </p>
            <a href="/uganda" class="cs-button-solid">Making The World A Better Place</a>
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--                   Gallery                    -->
<!-- ============================================ -->

<!--        <section id="gallery-46">
    <div class="cs-container">
        <div class="cs-content">
            <h2 class="cs-title">Visit Our Instagram</h2>
            <p class="cs-text">
                Explore our construction journey and projects by visiting our Instagram
            </p>
        </div>
        <div class="cs-image-group">
            <div class="cs-item cs-item-1">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Gallery/construction1-m.jpg">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Gallery/construction1.jpg">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Gallery/construction1.jpg" alt="" width="529" height="256">
                </picture>
            </div>
            <div class="cs-item cs-item-2">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Gallery/construction2-m.jpg">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Gallery/construction2.jpg">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Gallery/construction2.jpg" alt="" width="255" height="255">
                </picture>
            </div>
            <div class="cs-item cs-item-3">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Gallery/construction3-m.jpg">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Gallery/construction3.jpg">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Gallery/construction3.jpg" alt="" width="255" height="255">
                </picture>
            </div>
            <div class="cs-item cs-item-4">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Gallery/construction4-m.jpg">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Gallery/construction4.jpg">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Gallery/construction4.jpg" alt="" width="255" height="255">
                </picture>
            </div>
            <div class="cs-item cs-item-5">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Gallery/construction5-m.jpg">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Gallery/construction5.jpg">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Gallery/construction5.jpg" alt="" width="255" height="255">
                </picture>
            </div>
            <div class="cs-item cs-item-6">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Gallery/construction6-m.jpg">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Gallery/construction6.jpg">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Gallery/construction6.jpg" alt="" width="255" height="530">
                </picture>
            </div>
        </div>
        <a href="https://www.instagram.com/elite_earthworks_ca/" class="cs-button-solid">Visit Our Instagram</a>
    </div>
</section>          -->

{% endblock %}