---
title: 'About'
description: 'Meta description for the page'
preloadImg: '/assets/images/banner-photo.jpg'
permalink: 'about/'
pageTitle: About Us
eleventyNavigation:
    key: About Us
    order: 200
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/about.css">
{% endblock %}

{% block body %}
{% include 'components/interior-banner.html' %}

<!-- ============================================ -->
<!--            Side By Side Reverse              -->
<!-- ============================================ -->

<section id="sbsr-599">
    <div class="cs-container">
        <div class="cs-content">
            <h2 class="cs-title">Why Choose Elite?</h2>
            <div class="red-line"></div>
            <p class="cs-text">
                Customers should choose us because Elite offers value engineering to help our customers have a successful, cost-efficient project. The company's extensive years of experience and skillful staff assures that every project is handled professionally and with the highest level of attention. We also use the latest software and equipment to get our customers jobs bid and completed with unparalleled accuracy. This technology allows our estimators to compile the best possible budgets and proposals for our customers.                
            </p>
        </div>
    </div>
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="/assets/images/blog2.jpg">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="/assets/images/blog2.jpg">
        <img loading="lazy" decoding="async" src="/assets/images/drone.jpg" alt="drone surveying land" width="960" height="796">
    </picture>
</section>

<!-- ============================================ -->
<!--                Side By Side                  -->
<!-- ============================================ -->

<section id="sbs-598">
    <div class="cs-container">
        <div class="cs-content">
            <h2 class="cs-title">Our Story</h2>
            <div class="red-line"></div>
            <p class="cs-text">
                Elite Earthworks and Engineerings started out as GK Backlund with Andrew Backlund. He has been in the Dirt business for most of his professional career and decided in 1989 to start his own business as an Owner. In 2011, GK Backlund became Incorporated, and in 2013 changed the name from GK Backlund to Elite Earthworks and Engineering.
            </p>
        </div>
    </div>
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="/assets/images/bowling.jpg">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="/assets/images/bowling.jpg">
        <img loading="lazy" decoding="async" src="/assets/images/bowling.jpg" alt="room" width="960" height="796">
    </picture>
</section>

<!-- ============================================ -->
<!--            Side By Side Reverse              -->
<!-- ============================================ -->

<section id="sbsr-599">
    <div class="cs-container">
        <div class="cs-content">
            <h2 class="cs-title">Our Technology</h2>
            <div class="red-line"></div>
            <p class="cs-text">
                Utilizing 3D modeling and GPS machine control, we deliver our work with utmost precision. The technology also gives our project managers additional tools to keep our customers informed on the current status of their project. Using our modern Field Tracking software system has given us an advantage of getting 'day of ' cost information on a job that gets passed back to estimating systems for better precise accuracy bidding information that will save our customers money.
            </p>
        </div>
    </div>
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="/assets/images/drone.gif">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="/assets/images/drone.gif">
        <img loading="lazy" decoding="async" src="/assets/images/drone.gif" alt="drone surveying land" width="960" height="796">
    </picture>
</section>

<!-- ============================================ -->
<!--                   Quote                      -->
<!-- ============================================ -->

<section id="quote-561">
    <div class="cs-container">
        <div class="cs-content">
            <p class="cs-quote">
                This is a very legitimate quote on how amazing this company is! I am a super satisfied customer who uses this business all the time.
            </p>
            <span class="cs-name">Dan Smith</span>
            <span class="cs-company">The Fake Company</span>
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--                   Services                   -->
<!-- ============================================ -->  

<section id="services-1629">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-flex">
                <h2 class="cs-title">Values We Stand By</h2>
                <div class="red-line"></div>
            </div>
            <p class="cs-text">
                Aqestic recusandae laudantium optio amet a quisquam saepe aliquid, voluptate praesentium dicta fuga dolor error perspiciatis voluptatem eum cupiditate totam reiciendis quam minus inventore sint rem impedit esse quasi Tenetur sed reprehenderit earum a magni aliquid blanditiis dolores, veritatis soluta autem beatae officia expedita ipsum rerum doloribus sit provident delectus.
            </p>
        </div>            
        <ul class="cs-card-group">
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon"
                            src="/assets/images/portfolio/safety.svg"
                            loading="lazy" decoding="async" alt="icon" width="32" height="32" aria-hidden="true">
                </picture>
                <!-- Text Grouped For Flexbox-->
                <div class="cs-text-group">
                    <h3 class="cs-h3">Safety</h3>
                    <p class="cs-item-text">
                        We welcome and celebrate different perspectives to help our firm, our clients and our people adip iscing elit achieve.
                    </p>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon" src="/assets/images/portfolio/time.svg"
                            loading="lazy" decoding="async" alt="icon" width="32" height="32" aria-hidden="true">
                </picture>
                <!-- Text Grouped For Flexbox-->
                <div class="cs-text-group">
                    <h3 class="cs-h3">Efficiency</h3>
                    <p class="cs-item-text">
                        We welcome and celebrate different perspectives to help our firm, our clients and our people adip iscing elit achieve.
                    </p>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon"
                            src="/assets/images/portfolio/team.svg"
                            loading="lazy" decoding="async" alt="icon" width="32" height="32" aria-hidden="true">
                </picture>
                <!-- Text Grouped For Flexbox-->
                <div class="cs-text-group">
                    <h3 class="cs-h3">Quality of Work</h3>
                    <p class="cs-item-text">
                        We welcome and celebrate different perspectives to help our firm, our clients and our people adip iscing elit achieve.
                    </p>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon"
                            src="/assets/images/portfolio/education.svg" loading="lazy"
                            decoding="async" alt="icon" width="32" height="32" aria-hidden="true">
                </picture>
                <!-- Text Grouped For Flexbox-->
                <div class="cs-text-group">
                    <h3 class="cs-h3">Training</h3>
                    <p class="cs-item-text">
                        We welcome and celebrate different perspectives to help our firm, our clients and our people adip iscing elit achieve.
                    </p>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon"
                            src="/assets/images/portfolio/public-service.svg" loading="lazy"
                            decoding="async" alt="icon" width="32" height="32" aria-hidden="true">
                </picture>
                <!-- Text Grouped For Flexbox-->
                <div class="cs-text-group">
                    <h3 class="cs-h3">Customer Focused</h3>
                    <p class="cs-item-text">
                        We welcome and celebrate different perspectives to help our firm, our clients and our people adip iscing elit achieve.
                    </p>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon"
                            src="/assets/images/portfolio/innovation.svg"
                            loading="lazy" decoding="async" alt="icon" width="32" height="32" aria-hidden="true">
                </picture>
                <!-- Text Grouped For Flexbox-->
                <div class="cs-text-group">
                    <h3 class="cs-h3">Innovation</h3>
                    <p class="cs-item-text">
                        We welcome and celebrate different perspectives to help our firm, our clients and our people adip iscing elit achieve.
                    </p>
                </div>
            </li>
        </ul>
    </div>
</section>
                                
<!-- ============================================ -->
<!--                Uganda                  -->
<!-- ============================================ -->

<section id="uganda-999">
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" src="/assets/images/group pic.jpg">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" src="/assets/images/group pic.jpg" style="border-radius: 10px;">
        <img loading="lazy" decoding="async" src="/assets/images/group pic.jpg" alt="room" width="960" height="796">
    </picture>
    <div class="cs-container">
        <div class="cs-content">
            <h2 class="cs-title">Giving back To Uganda</h2>
            <div class="red-line"></div>
            <p class="cs-text">
                Our construction company is committed to giving back to Uganda by actively participating in community development initiatives. Through partnerships with local organizations, we aim to contribute to the well-being of the Ugandan people. This includes supporting infrastructure projects, providing training opportunities for local residents, and promoting sustainable practices in the construction industry. By investing in the community, we strive to create a positive impact, foster growth, and enhance the overall quality of life for the people of Uganda.
            </p>
            <a href="/uganda" class="cs-button-solid">Making The World A Better Place</a>
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--                   Gallery                    -->
<!-- ============================================ -->

<section id="gallery-46">
    <div class="cs-container">
        <div class="cs-content">
            <h2 class="cs-title">Visit Our Instagram</h2>
            <p class="cs-text">
                Explore our construction journey and projects by visiting our Instagram
            </p>
        </div>
        <div class="cs-image-group">
            <!-- Image 1 -->
            <div class="cs-item cs-item-1">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Gallery/construction1-m.jpg">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Gallery/construction1.jpg">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Gallery/construction1.jpg" alt="man grinding steel" width="529" height="256">
                </picture>
            </div>
            <!-- Image 2 -->
            <div class="cs-item cs-item-2">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Gallery/construction2-m.jpg">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Gallery/construction2.jpg">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Gallery/construction2.jpg" alt="wood worker" width="255" height="255">
                </picture>
            </div>
            <!-- Image 3 -->
            <div class="cs-item cs-item-3">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Gallery/construction3-m.jpg">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Gallery/construction3.jpg">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Gallery/construction3.jpg" alt="steel rebar grid" width="255" height="255">
                </picture>
            </div>
            <!-- Image 4 -->
            <div class="cs-item cs-item-4">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Gallery/construction4-m.jpg">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Gallery/construction4.jpg">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Gallery/construction4.jpg" alt="modern home" width="255" height="255">
                </picture>
            </div>
            <!-- Image 5 -->
            <div class="cs-item cs-item-5">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Gallery/construction5-m.jpg">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Gallery/construction5.jpg">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Gallery/construction5.jpg" alt="appliance" width="255" height="255">
                </picture>
            </div>
            <!-- Image 6 -->
            <div class="cs-item cs-item-6">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Gallery/construction6-m.jpg">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Gallery/construction6.jpg">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Gallery/construction6.jpg" alt="modern home" width="255" height="530">
                </picture>
            </div>
        </div>
        <a href="https://www.instagram.com/elite_earthworks_ca/" class="cs-button-solid">Visit Our Instagram</a>
    </div>
</section>

{% endblock %}