---
title: 'About'
description: 'Discover Elite: Our Commitment to Excellence and Innovation'
preloadImg: '/assets/images/banner-photo.webp'
permalink: 'about/'
pageTitle: About Us
eleventyNavigation:
    key: About Us
    order: 200
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/about.css">
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero">
    <div class="cs-container">
        <div class="cs-content">
            <h1 class="cs-title">Our Mission</h1>
            <p class="cs-text">
                To deliver solutions; surpassing industry standards through innovation and expertise to create lasting value for our clients, employees, and communities. 
            </p>
            <div class="cs-button-group">
            </div>
        </div>
    </div>

    <!-- Background Image -->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="/assets/images/mission-statement-m.webp">
        <source media="(min-width: 601px)" srcset="/assets/images/mission-statement.webp">
        <img loading="lazy" decoding="async" src="/assets/images/mission-statement.webp" alt="field" width="1920" height="1200" aria-hidden="true">
    </picture>

    <img class="cs-graphic" src="/assets/svgs/mud-splatter.svg" alt="graphic" height="161" width="1920" loading="lazy" decoding="async" >
</section>
                                

<!-- ============================================ -->
<!--                    Services                  -->
<!-- ============================================ -->

<section id="services-1724">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-flex-group">
                <h2 class="cs-title">Our Core Values</h2>
            </div>
            <p class="cs-text">
                We are committed to empowering our people to grow and contribute to our vision. Our focus is on efficient resource use, innovative solutions, and sustainable grading practices. By leveraging technology and industry knowledge, we aim to tackle complex challenges. Success for us is measured by the positive impact we create, leaving a legacy of improvement in communities, the environment, and the grading industry. We are dedicated to delivering high-quality work with integrity and reliability.
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <a href="" class="cs-link">
                    <span class="cs-number">E</span>
                    <div class="cs-desc">We believe in empowering our people to grow, excel, and contribute to delivering our vision.</div> <!-- Centered text -->
                    <h3 class="cs-h4">Empowerment</h3>
                </a>
                <picture class="cs-picture">
                    <source media="(max-width: 600px)"
                            srcset="/assets/images/empowerment-m.webp">
                    <source media="(min-width: 601px)"
                            srcset="/assets/images/empowerment.webp">
                    <img decoding="async"
                         src="/assets/images/empowerment.webp"
                         alt="empowerment" width="413" height="374" aria-hidden="true" loading="lazy">
                </picture>
            </li>
                        <li class="cs-item">
                <a href="" class="cs-link">
                    <span class="cs-number">L</span>
                    <div class="cs-desc">We are dedicated to optimal resource allocation, innovative solutions, and a commitment to sustainable practices throughout the construction process. </div> <!-- Centered text -->

                    <h3 class="cs-h4">Lean</h4>
                </a>
                <picture class="cs-picture">
                    <source media="(max-width: 600px)"
                            srcset="/assets/images/lean-m.webp">
                    <source media="(min-width: 601px)"
                            srcset="/assets/images/lean.webp">
                    <img decoding="async"
                            src="/assets/images/lean.webp"
                            alt="finance" width="413" height="374" aria-hidden="true" loading="lazy">
                </picture>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <span class="cs-number">I</span>                    
                    <div class="cs-desc">We are committed to the use of cutting-edge technology and solving complex issues with our extensive industry knowledge.  
                    </div> <!-- Centered text -->
                    <h3 class="cs-h4">Innovation</h4>
                </a>
                <picture class="cs-picture">
                    <source media="(max-width: 600px)"
                            srcset="/assets/images/innovation-m.webp">
                    <source media="(min-width: 601px)"
                            srcset="/assets/images/innovation.webp">
                    <img decoding="async"
                            src="/assets/images/innovation.webp"
                            alt="finance" width="413" height="374" aria-hidden="true" loading="lazy">
                </picture>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <span class="cs-number">T</span>
                    <div class="cs-desc">We believe our success is measured by the positive impact we create. We strive to nurture and grow our people to leave a lasting legacy by contributing to the betterment of our communities, our people, the environment, and the construction industry as a whole. 
                    </div> <!-- Centered text -->
                    <h3 class="cs-h4">Transformation</h4>
                    
                </a>
                <picture class="cs-picture">
                    
                    <source media="(max-width: 600px)"
                            srcset="/assets/images/transformation-m.webp">
                    <source media="(min-width: 601px)"
                            srcset="/assets/images/transformation.webp">
                    <img decoding="async"
                            src="/assets/images/transformation.webp"
                            alt="finance" width="413" height="374" aria-hidden="true" loading="lazy">
                </picture>
                
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <span class="cs-number">E</span>
                    <div class="cs-desc">We have an unwavering commitment to delivering high-quality work; with Honesty, Integrity, and Reliability.   
                    </div> <!-- Centered text -->

                    <h3 class="cs-h4">Excellence</h4>
                </a>
                <picture class="cs-picture">
                    <source media="(max-width: 600px)"
                            srcset="/assets/images/excellence-m.webp">
                    <source media="(min-width: 601px)"
                            srcset="/assets/images/excellence.webp">
                    <img decoding="async"
                            src="/assets/images/excellence.webp"
                            alt="finance" width="413" height="374" aria-hidden="true" loading="lazy">
                </picture>
            </li>
        </ul>
    </div>
</section>


<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="RPsbs-1280">
    <div class="cs-container">
        <picture class="cs-picture">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="/assets/images/about-m.webp">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="/assets/images/about.webp">
            <img loading="lazy" decoding="async" src="/assets/images/about.webp" alt="construction" width="738" height="598">
        </picture>
        <div class="cs-content">
            <div class="cs-flex">
                <h2 class="cs-title">Why Choose Elite?</h2>
            </div>
            <p class="cs-text">
                At Elite Earthworks, we bring top-tier contractor capabilities with a personal touch. Our team is dedicated to delivering high-quality work using the best equipment and skilled professionals to ensure your project is not just completed, but perfected.With extensive experience and cutting-edge technology, we ensure fast, accurate estimates and efficient project completion, maximizing your budget every time. By choosing Elite, you partner with a company committed to excellence, taking your project from concept to completion with expertise and integrity.           </p>
        </div>
    </div>
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/white-waves-m.svg">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/white-waves.svg">
        <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/white-waves.svg" alt="waves" width="960" height="839">
    </picture>
</section>

<!-- ============================================ -->
<!--             Side By Side Reverse             -->
<!-- ============================================ -->

<section id="RPsbsr-1280">
    <div class="cs-container">
        <picture class="cs-picture">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="/assets/images/bowling-m.webp">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="/assets/images/bowling.webp">
            <img loading="lazy" decoding="async" src="/assets/images/bowling.webp" alt="construction" width="738" height="598">
        </picture>
        <div class="cs-content">
            <div class="cs-flex">
                <h2 class="cs-title">Our Vision</h2>
            </div>
            <p class="cs-text">
                At Elite, our vision is to be a recognized leader in the earthwork industry, renowned for our unwavering commitment to
                excellence, and innovation. We strive to attract top talent,
                nurture and grow future leaders, and empower them with cutting-edge technology, and extensive
                industry knowledge. Our relentless dedication to executing projects swiftly, efficiently, and with minimal issues
                sets us apart, driving us towards our goal of positively impacting communities worldwide through our
                work, people, and resources.            
            </p>
        </div>
    </div>
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/white-waves-m.svg">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/white-waves.svg">
        <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/white-waves.svg" alt="waves" width="960" height="839">
    </picture>
</section>      

<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="RPsbs-1280">
    <div class="cs-container">
        <picture class="cs-picture">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="/assets/images/drone.gif">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="/assets/images/drone.gif">
            <img loading="lazy" decoding="async" src="/assets/images/drone.gif" alt="construction" width="738" height="598">
        </picture>
        <div class="cs-content">
            <div class="cs-flex">
                <h2 class="cs-title">Our Technology</h2>
            </div>
            <p class="cs-text">
                Leveraging 3D modeling and GPS technology, we deliver each project with unmatched accuracy. This method keeps our clients updated on their project's status, offering transparency every step of the way. With our state-of-the-art Field Tracking software, we gain immediate insights into job costs, refining our estimates to ensure efficient and economical bidding. This streamlined process is designed to save our clients money across excavation, public works in California, and specialized grading and demolition services.        </div>
    </div>
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/white-waves-m.svg">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/white-waves.svg">
        <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/white-waves.svg" alt="waves" width="960" height="839">
    </picture>
</section>

<!-- ============================================ -->
<!--            Side By Side Reverse              -->
<!-- ============================================ -->

<section id="sbsr-599">
    <div class="cs-container">
        <div class="cs-content">
            <h2 class="cs-title">Why Choose Elite?</h2>
            <p class="cs-text">
                At Elite Earthworks, we're all about bringing that big-time contractor capability straight to your doorstep
                — but with a personal touch you just won't find anywhere else. When you work with us,
                you're working with folks who make things happen. We're all-in for every project we take on,
                using nothing but the best gear and the brightest talent that Southern California has to offer
                to make sure your project isn’t just completed, but perfected.            
            </p></br>
            <p class="cs-text">
                Our seasoned experience ensures professional handling and attention to detail from start to
                finish. We also boast the most up-to-date software and equipment in the industry, making
                sure your job is estimated and completed quicker than you can say ‘’break ground.’’ Our
                approach to the latest technology means we deliver the sharpest, most efficient budgets and
                proposals, maximizing your project's value every time.        
            </p></br>
            <p class="cs-text">
                By choosing Elite, you wisely select a partner dedicated to excellence and prepared to take
                your project from concept to completion with expertise and integrity.          
            </p>
        </div>
    </div>
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="/assets/images/about-m.webp">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="/assets/images/about.webp">
        <img loading="lazy" decoding="async" src="/assets/images/about.webp" alt="Why Choose Elite" width="960" height="796">
    </picture>
</section>


<!-- ============================================ -->
<!--                Side By Side                  -->
<!-- ============================================ -->

<section id="sbs-598">
    <div class="cs-container">
        <div class="cs-content">
            <h2 class="cs-title">Our Vision</h2>
            <p class="cs-text">
                At Elite, our vision is to be a recognized leader in the earthwork industry, renowned for our unwavering commitment to excellence, and innovation. We strive to attract top talent, nurture and grow future leaders, and empower them with cutting-edge technology, and extensive industry knowledge. Our relentless dedication to executing projects swiftly, efficiently, and with minimal issues sets us apart, driving us towards our goal of positively impacting communities worldwide through our work, people, and resources.
            </p>
        </div>
    </div>
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="/assets/images/bowling-m.webp">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="/assets/images/bowling.webp">
        <img loading="lazy" decoding="async" src="/assets/images/bowling.webp" alt="Elite Earthworks story" width="960" height="796">
    </picture>
</section>                 

<!-- ============================================ -->
<!--            Side By Side Reverse              -->
<!-- ============================================ -->

<section id="sbsr-599">
    <div class="cs-container">
        <div class="cs-content">
            <h2 class="cs-title">Our Technology</h2>
            <p class="cs-text">
                Leveraging 3D modeling and GPS technology, we deliver each project with unmatched
                accuracy. This method keeps our clients updated on their project's status, offering
                transparency every step of the way.
                With our state-of-the-art Field Tracking software, we gain immediate insights into job costs,
                refining our estimates to ensure efficient and economical bidding. This streamlined process
                is designed to save our clients money across excavation, public works in California, and
                specialized grading and demolition services.            
            </p>
        </div>
    </div>
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="/assets/images/drone.gif">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="/assets/images/drone.gif">
        <img loading="lazy" decoding="async" src="/assets/images/drone.gif" alt="Elite Earthworks technology" width="960" height="796">
    </picture>
</section>

<!-- ============================================ -->
<!--                    Services                  -->
<!-- ============================================ 

<section id="services-1302">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-flex-group">
            </div>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <div class="cs-link">
                    <h3 class="cs-h3">Communication</h3>
                    <p class="cs-item-text">
                        We're all about open lines. From day one to the big reveal, we'll keep you in the loop, making
                        sure you're never left wondering what's happening with your project.                    
                </div>
            </li>
            <li class="cs-item">
                <div class="cs-link">
                    <h3 class="cs-h3">Engineering</h3>
                    <p class="cs-item-text">
                        Here’s a little secret our clients have shared: going with someone else often means they end
                        up knocking on our door for help later. Why? Because not everyone gets the details of a
                        project like we do. Seeing the full picture and navigating the bumps along the way? That’s
                        our bread and butter.                    
                    </div>
            </li>
            <li class="cs-item">
                <div class="cs-link">
                    <h3 class="cs-h3">Compliance</h3>
                    <p class="cs-item-text">
                        Got compliance headaches? Let us handle that. Our compliance crew is on it, making sure
                        everything’s squared away so your project moves forward without a hitch, ensuring you get
                        paid on time, every time.                    
                    </p>
                </div>
            </li>
        </ul>
    </div>
</section>-->

<!-- ============================================ -->
<!--                    CTA                       -->
<!-- ============================================ -->

<section id="cta-403">
    <div class="cs-container">
        <div class="cs-content">
            <h2 class="cs-title">Become Part Of Our Team</h2>
            <p class="cs-text">
                We’re excited to welcome new talent to our growing team! If you’re passionate about what you do and eager to make an impact, we’d love to hear from you. Apply today and take the next step toward an exciting future with us!
            </p>
            <a href="/careers" class="cs-button-solid">Join the Elite </a>
        </div>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="/assets/images/about-banner-m.webp">
        <source media="(min-width: 601px)" srcset="/assets/images/about-banner.webp">
        <img loading="lazy" decoding="async" src="/assets/images/about-banner.webp" alt="cleaner" width="1920" height="660" aria-hidden="true">
    </picture>
</section>
                                
                                                                
<!-- ============================================ -->
<!--                Uganda                  -->
<!-- ============================================ -->

<section id="uganda-999">
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="/assets/images/uganda-group-pic-m.webp">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="/assets/images/uganda-group-pic.webp" style="border-radius: 10px;">
        <img loading="lazy" decoding="async" src="/assets/images/uganda-group-pic.webp" alt="Elite Earthworks making a difference in Uganda" width="960" height="796">
    </picture>
    <div class="cs-container">
        <div class="cs-content">
            <h2 class="cs-title">Knowledge Without Borders</h2>
            <p class="cs-text">
                Our grading expertise has no limits, as we go beyond the borders of Southern California
                to reach the beautiful region of Uganda—a place brimming with culture, opportunities, and
                plenty of potential for growth.
            </p>
            <p class="cs-text">
                In collaboration with local organizations, we stand shoulder to shoulder with the Ugandan
                community by training residents, endorsing sustainable construction projects, and providing
                a helping hand in Uganda’s infrastructure projects.
            </p>
            <p class="cs-text">
                Our mission? To leave a lasting legacy that will help steer the future in the right direction. We
                aim to empower and uplift those who call Uganda home, all while making a tangible
                difference in the lives of individuals and the broader community.
            </p>
            <p class="cs-text">
                Together, we move forward in creating a brighter, more sustainable chapter for Uganda and its wonderful residents.
            </p>
            <a href="/uganda" class="cs-button-solid">Elite Earthworks in Uganda</a>
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--                   Gallery                    -->
<!-- ============================================ -->

<!--        <section id="gallery-46">
    <div class="cs-container">
        <div class="cs-content">
            <h2 class="cs-title">Visit Our Instagram</h2>
            <p class="cs-text">
                Explore our construction journey and projects by visiting our Instagram
            </p>
        </div>
        <div class="cs-image-group">
            <div class="cs-item cs-item-1">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Gallery/construction1-m.jpg">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Gallery/construction1.jpg">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Gallery/construction1.jpg" alt="" width="529" height="256">
                </picture>
            </div>
            <div class="cs-item cs-item-2">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Gallery/construction2-m.jpg">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Gallery/construction2.jpg">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Gallery/construction2.jpg" alt="" width="255" height="255">
                </picture>
            </div>
            <div class="cs-item cs-item-3">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Gallery/construction3-m.jpg">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Gallery/construction3.jpg">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Gallery/construction3.jpg" alt="" width="255" height="255">
                </picture>
            </div>
            <div class="cs-item cs-item-4">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Gallery/construction4-m.jpg">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Gallery/construction4.jpg">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Gallery/construction4.jpg" alt="" width="255" height="255">
                </picture>
            </div>
            <div class="cs-item cs-item-5">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Gallery/construction5-m.jpg">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Gallery/construction5.jpg">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Gallery/construction5.jpg" alt="" width="255" height="255">
                </picture>
            </div>
            <div class="cs-item cs-item-6">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Gallery/construction6-m.jpg">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Gallery/construction6.jpg">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Gallery/construction6.jpg" alt="" width="255" height="530">
                </picture>
            </div>
        </div>
        <a href="https://www.instagram.com/elite_earthworks_ca/" class="cs-button-solid">Visit Our Instagram</a>
    </div>
</section>          -->

{% endblock %}