---
title: 'Contact'
description: 'Reach Out to Elite Earthworks: Your Partner in Construction Excellence'
preloadImg: '/assets/images/banner-photo.webp'
permalink: 'contact/'
pageTitle: 'Contact'
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/contact.css">
{% endblock %}

{% block body %}
{% include 'components/interior-banner.html' %}
                          
<!-- ============================================ -->
<!--                   Contact                    -->
<!-- ============================================ -->

<section id="ContactForm-327">
    <div class="cs-container">
        <div class="cs-content">
            <h2 class="cs-title">Get in Touch</h2>
            <p class="cs-text">
                We are thrilled to hear from you and learn about your project needs. Please fill the form out and our team of experts will get back to you within 24 hours. 
            </p>
            <!--Form-->
            <form class="cs-form" id="cs-form-323-327" name="Contact Form" method="post" netlify action="/success">
                <label class="cs-label">
                    Name
                    <input class="cs-input" required type="text" id="name-323-327" name="name" placeholder="Name">
                </label>
                <label class="cs-label cs-email">
                    Email
                    <input class="cs-input" type="text" id="email-323-327" name="email" placeholder="Email">
                </label>
                <label class="cs-label cs-phone">
                    Phone
                    <input class="cs-input" type="text" id="phone-323-327" name="phone" placeholder="Phone">
                </label>
                <label class="cs-label">
                    Message
                    <textarea class="cs-input cs-textarea" required name="Message" id="message-323-327" placeholder="Write message..."></textarea>
                </label>
                <button class="cs-button-solid" type="submit">Make an Appointment</button>
            </form>
        </div>
        <!--Map Image, pin is made in the Figma then export as one image-->
        <picture class="cs-map">
            <source media="(max-width: 600px)" srcset="/assets/images/contact-us-m.webp">
            <source media="(min-width: 601px)" srcset="/assets/images/contact-us.webp">
            <img decoding="async" src="/assets/images/contact-us.webp" alt="map" width="610" height="425" aria-hidden="true">
        </picture>
    </div>
</section>

<!-- ============================================ -->
<!--                Contact Strip                 -->
<!-- ============================================ -->

<!-- No headers, so no section tag -->
<div id="ContactStrip-327">
    <ul class="cs-stat-group">
        <li class="cs-item">
            <picture class="cs-picture">
                <img class="cs-icon" src="https://csimg.nyc3.digitaloceanspaces.com/Contact-Page/phone-grey.svg" alt="icon" width="35" height="40" loading="lazy" decoding="async" aria-hidden="true">
            </picture>
            <div class="cs-flex-group">
                <span class="cs-header">Phone</span>
                <a href="tel:555-456-7899" class="cs-link">(961) 245 2220</a>
            </div>
        </li>
        <li class="cs-item">
            <picture class="cs-picture">
                <img class="cs-icon" src="https://csimg.nyc3.digitaloceanspaces.com/Contact-Page/pin-grey.svg" alt="icon" width="40" height="35" loading="lazy" decoding="async" aria-hidden="true">
            </picture>
            <div class="cs-flex-group">
                <span class="cs-header">Address</span>
                <a href="" class="cs-link">41571 Date St, <br> Murrieta, CA 92562</a>
            </div>
        </li>
        <li class="cs-item">
            <picture class="cs-picture">
                <img class="cs-icon" src="https://csimg.nyc3.digitaloceanspaces.com/Contact-Page/clock-grey.svg" alt="icon" width="40" height="40" loading="lazy" decoding="async" aria-hidden="true">
            </picture>
            <div class="cs-flex-group">
                <span class="cs-header">Open Hours</span>
                <span class="cs-hours">Monday To Friday</span>
                <span class="cs-hours">9:00 AM - 5:00 PM</span>
            </div>
        </li>
    </ul>
</div>
                  
{% endblock %}