---
title: 'Operated Equipment Rental'
description: 'Elite Earthworks offers CARB-compliant operated equipment rentals in Southern California. Rent dozers, graders, loaders, and more with expert operators for grading, excavation, and site work.'
preloadImg: '/assets/images/rental.webp'
permalink: 'operated-equipment-rental/'
pageTitle: 'Operated Equipment Rental '
eleventyNavigation:
    key: Operated Equipment Rental
    order: 500
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/operated-equipment-rental.css">
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero">
    <div class="cs-container">
        <div class="cs-content">
            <h1 class="cs-title">Operated Equipment Rental</h1>
            <p class="cs-text">
                High-quality machinery available for rent, complete with expert operators to meet your project needs efficiently and reliably.            
            </p>
            <div class="cs-button-group">
            </div>
        </div>
    </div>

    <!-- Background Image -->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="/assets/images/rental-m.webp">
        <source media="(min-width: 601px)" srcset="/assets/images/rental.webp">
        <img loading="lazy" decoding="async" src="/assets/images/rental.webp" alt="Elite Earthworks equipment rentals" width="1920" height="1200" aria-hidden="true">
    </picture>

    <img class="cs-graphic" src="/assets/svgs/mud-splatter.svg" alt="graphic" height="161" width="1920" loading="lazy" decoding="async" >
</section>
                                
<!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->

<section id="services-1829">
    <div class="cs-container">
        <h2 class="cs-title">Our Equipment
        </h2>
    <ul class="cs-card-group">
        <li class="cs-item">
            <a class="cs-link" href="/assets/documents/Elite.pdf" download>
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/carb.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/carb.webp">
                    <img loading="lazy" decoding="async" src="/assets/images/carb.webp" alt="Elite Earthworks CARB Compliant Fleet" width="500" height="700">
                </picture>
                <div class="cs-flex">
                    <h3 class="cs-h3">CARB Compliant Fleet</h3>
                    <p>Click to download certificate</p>
                </div>
            </a>
        </li>
                    <li class="cs-item">
                <div class="cs-link">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="/assets/images/caterpillar-824-wheel-dozer.webp">
                        <source media="(min-width: 601px)" srcset="/assets/images/caterpillar-824-wheel-dozer.webp">
                        <img loading="lazy" decoding="async" src="/assets/images/caterpillar-824-wheel-dozer.webp" alt="Elite Earthworks caterpillar 824 wheel dozer" width="500" height="700">
                    </picture>
                    <div class="cs-flex">
                        <h3 class="cs-h3">Caterpillar 824 Wheel Dozer</h3>
                    </div>
                </div>
            </li>
            <li class="cs-item">
                <div class="cs-link">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="/assets/images/d9.webp">
                        <source media="(min-width: 601px)" srcset="/assets/images/d9.webp">
                        <img loading="lazy" decoding="async" src="/assets/images/d9.webp" alt="Elite Earthworks caterpillar d9" width="500" height="700">
                    </picture>
                    <div class="cs-flex">
                        <h3 class="cs-h3">Caterpillar D9 (GPS)</h3>
                    </div>
                </div>
            </li>
            <li class="cs-item">
                <div class="cs-link">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="/assets/images/john-deere-772-motor-grader.webp">
                        <source media="(min-width: 601px)" srcset="/assets/images/john-deere-772-motor-grader.webp">
                        <img loading="lazy" decoding="async" src="/assets/images/john-deere-772-motor-grader.webp" alt="Elite Earthworks john deere 772 motor grader" width="500" height="700">
                    </picture>
                    <div class="cs-flex">
                        <h3 class="cs-h3">John Deere 772 motor grader (GPS)</h3>
                    </div>
                </div>
            </li>
            <li class="cs-item">
                <div class="cs-link">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="/assets/images/d6.webp">
                        <source media="(min-width: 601px)" srcset="/assets/images/d6.webp">
                        <img loading="lazy" decoding="async" src="/assets/images/d6.webp" alt="Elite Earthworks caterpillar d6" width="500" height="700">
                    </picture>
                    <div class="cs-flex">
                        <h3 class="cs-h3">Caterpillar D6 With Slope Board (GPS)</h3>
                    </div>
                </div>
            </li>
            <li class="cs-item">
                <div class="cs-link">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="/assets/images/skid-steer.webp">
                        <source media="(min-width: 601px)" srcset="/assets/images/skid-steer.webp">
                        <img loading="lazy" decoding="async" src="/assets/images/skid-steer.webp" alt="Elite Earthworks skid steer" width="500" height="700">
                    </picture>
                    <div class="cs-flex">
                        <h3 class="cs-h3">Skid Steers</h3>
                    </div>
                </div>
            </li>
            <li class="cs-item">
                <div class="cs-link">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="/assets/images/brush-cutter.webp">
                        <source media="(min-width: 601px)" srcset="/assets/images/brush-cutter.webp">
                        <img loading="lazy" decoding="async" src="/assets/images/brush-cutter.webp" alt="Elite Earthworks brush cutter" width="500" height="700">
                    </picture>
                    <div class="cs-flex">
                        <h3 class="cs-h3">Brush Cutter</h3>
                    </div>
                </div>
            </li>
            <li class="cs-item">
                <div class="cs-link">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="/assets/images/mini-excavator.webp">
                        <source media="(min-width: 601px)" srcset="/assets/images/mini-excavator.webp">
                        <img loading="lazy" decoding="async" src="/assets/images/mini-excavator.webp" alt="Elite Earthworks mini excavator" width="500" height="700">
                    </picture>
                    <div class="cs-flex">
                        <h3 class="cs-h3">Mini-Excavator</h3>
                    </div>
                </div>
            </li>
            <li class="cs-item">
                <div class="cs-link">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="/assets/images/2k-water-truck.webp">
                        <source media="(min-width: 601px)" srcset="/assets/images/2k-water-truck.webp">
                        <img loading="lazy" decoding="async" src="/assets/images/2k-water-truck.webp" alt="Elite Earthworks 2k water truck" width="500" height="700">
                    </picture>
                    <div class="cs-flex">
                        <h3 class="cs-h3">2K Water Truck</h3>
                    </div>
                </div>
            </li>
            <li class="cs-item">
                <div class="cs-link">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="/assets/images/caterpillar-950-loader.webp">
                        <source media="(min-width: 601px)" srcset="/assets/images/caterpillar-950-loader.webp">
                        <img loading="lazy" decoding="async" src="/assets/images/caterpillar-950-loader.webp" alt="Elite Earthworks caterpillar 950 loader" width="500" height="700">
                    </picture>
                    <div class="cs-flex">
                        <h3 class="cs-h3">Caterpillar 950 Loader</h3>
                    </div>
                </div>
            </li>
            <li class="cs-item">
                <div class="cs-link">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="/assets/images/skip-loader.webp">
                        <source media="(min-width: 601px)" srcset="/assets/images/skip-loader.webp">
                        <img loading="lazy" decoding="async" src="/assets/images/skip-loader.webp" alt="Elite Earthworks skip Loader With Laser" width="500" height="700">
                    </picture>
                    <div class="cs-flex">
                        <h3 class="cs-h3">Skip Loaders (Laser)</h3>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>
                                
<!-- ============================================ -->
<!--                    Form                      -->
<!-- ============================================ -->

<section id="cs-contact-486">
    <div class="cs-container">
        <div class="cs-content">
            <h2 class="cs-title">Get in Touch With Us</h2>
            <p class="cs-text">
                Have questions about our equipment rentals? We're here to help. Contact us today to discuss your project, check availability, or learn more about how we can assist you. You can reach us by phone, email, or by filling out the form below.
            </p>
            <span class="cs-heading">Dispatching@elite-earthworks.com </span>
            <span class="cs-heading">(951) 245 2220</span>
        </div>
        <!--Form-->
        <form id="cs-form-486" name="Operated Equipment Rental Form" method="post" netlify>
            <h3 class="cs-h3">Reserve Now</h3>
            <label class="cs-label">
                Name
                <input class="cs-input" required type="text" id="name-486" name="name" placeholder="Name">
            </label>
            <label class="cs-label">
                Phone
                <input class="cs-input" required type="text" id="phone-486" name="phone" placeholder="Phone">
            </label>
            <label class="cs-label">
                Email
                <input class="cs-input" required type="text" id="email-486" name="email" placeholder="Email">
            </label>
            <label class="cs-label">
                Address?
                <input class="cs-input" type="text" id="find-486" name="find-us" placeholder="Address?">
            </label>
            <label class="cs-label cs-label-message">
                What Would You Like to Rent?
                <select name="cars" id="cs-select-486">
                    <option value="" disabled selected>Please Select An Option</option>
                    <option value="carb-compliant-fleet">CARB Compliant Fleet</option>
                    <option value="caterpillar-824-wheel-dozer">Caterpillar 824 Wheel Dozer</option>
                    <option value="caterpillar-d9-gps">Caterpillar D9 (GPS)</option>
                    <option value="john-deere-772-motor-grader-gps">John Deere 772 Motor Grader (GPS)</option>
                    <option value="caterpillar-d6-slope-board-gps">Caterpillar D6 With Slope Board (GPS)</option>
                    <option value="skid-steers">Skid Steers</option>
                    <option value="brush-cutter">Brush Cutter</option>
                    <option value="mini-excavator">Mini-Excavator</option>
                    <option value="2k-water-truck">2K Water Truck</option>
                    <option value="caterpillar-950-loader">Caterpillar 950 Loader</option>
                    <option value="skip-loaders-laser">Skip Loaders (Laser)</option>
                </select>
            </label>
            
            <label class="cs-label">
                When Do You Need Our Equipment By?
                <input class="cs-input" type="text" id="find-486" name="find-us" placeholder="When Do You Need Our Equipment By?">
            </label>
            <label class="cs-label">
                Tell Us More About Your Project
                <input class="cs-input" type="text" id="find-486" name="find-us" placeholder="Tell Us About Your Project">
            </label>
            <button class="cs-button-solid cs-submit" type="submit">Reserve Now</button>
        </form>
    </div>
</section>

{% include 'components/cta2.html' %}        

{% endblock %}