---
title: 'Projects'
description: 'Meta description for the page'
preloadImg: '/assets/images/banner-photo.jpg'
permalink: 'projects/'
pageTitle: 'Projects'
eleventyNavigation:
    key: Projects
    order: 300
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/projects.css">
{% endblock %}

{% block body %}
{% include 'components/interior-banner.html' %}

<!-- ============================================ -->
<!--                    Blog                      -->
<!-- ============================================ -->

<section id="blog-1144">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-content-flex">
                <h2 class="cs-title">Our Projects</h2>
                <div class="red-line"></div>
            </div>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <picture class="cs-picture" aria-hidden="true">
                    <source media="(max-width: 600px)" srcset="/assets/images/hemet.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/hemet.jpg">
                    <img loading="lazy" decoding="async" src="/assets/images/hemet.jpg" alt="people" width="305" height="180">
                </picture>
                <div class="cs-flex">
                    <h3 class="cs-h3">Hemet</h3>
                    <p class="cs-item-text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit distinctio quas asperiores reiciendis! Facilis quia recusandae vel facere delect corrupti!
                    </p>
                    <a href="" class="cs-link">
                        View Full Project
                        <img class="cs-arrow" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/event-chevron.svg" alt="icon" width="20" height="20" aria-hidden="true">
                    </a>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture" aria-hidden="true">
                    <source media="(max-width: 600px)" srcset="/assets/images/faith-bible-church.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/faith-bible-church.jpg">
                    <img loading="lazy" decoding="async" src="/assets/images/faith-bible-church.jpg" alt="people" width="305" height="180">
                </picture>
                <div class="cs-flex">
                    <h3 class="cs-h3">Faith Bible Church</h3>
                    <p class="cs-item-text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit distinctio quas asperiores reiciendis! Facilis quia recusandae vel facere delect corrupti!
                    </p>
                    <a href="" class="cs-link">
                        View Full Project
                        <img class="cs-arrow" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/event-chevron.svg" alt="icon" width="20" height="20" aria-hidden="true">
                    </a>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture" aria-hidden="true">
                    <source media="(max-width: 600px)" srcset="/assets/images/Richland-elementary-school.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/Richland-elementary-school.jpg">
                    <img loading="lazy" decoding="async" src="/assets/images/Richland-elementary-school.jpg" alt="people" width="305" height="180">
                </picture>
                <div class="cs-flex">
                    <h3 class="cs-h3">Richland Elementary School</h3>
                    <p class="cs-item-text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit distinctio quas asperiores reiciendis! Facilis quia recusandae vel facere delect corrupti!
                    </p>
                    <a href="" class="cs-link">
                        View Full Project
                        <img class="cs-arrow" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/event-chevron.svg" alt="icon" width="20" height="20" aria-hidden="true">
                    </a>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture" aria-hidden="true">
                    <source media="(max-width: 600px)" srcset="/assets/images/hemet.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/hemet.jpg">
                    <img loading="lazy" decoding="async" src="/assets/images/hemet.jpg" alt="people" width="305" height="180">
                </picture>
                <div class="cs-flex">
                    <h3 class="cs-h3">Hemet</h3>
                    <p class="cs-item-text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit distinctio quas asperiores reiciendis! Facilis quia recusandae vel facere delect corrupti!
                    </p>
                    <a href="" class="cs-link">
                        View Full Project
                        <img class="cs-arrow" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/event-chevron.svg" alt="icon" width="20" height="20" aria-hidden="true">
                    </a>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture" aria-hidden="true">
                    <source media="(max-width: 600px)" srcset="/assets/images/faith-bible-church.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/faith-bible-church.jpg">
                    <img loading="lazy" decoding="async" src="/assets/images/faith-bible-church.jpg" alt="people" width="305" height="180">
                </picture>
                <div class="cs-flex">
                    <h3 class="cs-h3">Faith Bible Church</h3>
                    <p class="cs-item-text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit distinctio quas asperiores reiciendis! Facilis quia recusandae vel facere delect corrupti!
                    </p>
                    <a href="" class="cs-link">
                        View Full Project
                        <img class="cs-arrow" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/event-chevron.svg" alt="icon" width="20" height="20" aria-hidden="true">
                    </a>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture" aria-hidden="true">
                    <source media="(max-width: 600px)" srcset="/assets/images/Richland-elementary-school.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/Richland-elementary-school.jpg">
                    <img loading="lazy" decoding="async" src="/assets/images/Richland-elementary-school.jpg" alt="people" width="305" height="180">
                </picture>
                <div class="cs-flex">
                    <h3 class="cs-h3">Richland Elementary School</h3>
                    <p class="cs-item-text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit distinctio quas asperiores reiciendis! Facilis quia recusandae vel facere delect corrupti!
                    </p>
                    <a href="" class="cs-link">
                        View Full Project
                        <img class="cs-arrow" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/event-chevron.svg" alt="icon" width="20" height="20" aria-hidden="true">
                    </a>
                </div>
            </li>
        </ul>
    </div>
</section>

<!-- ============================================ -->
<!--                  Gallery                     -->
<!-- ============================================ -->

<section id="gallery-1234">
        <div class="cs-content">
            <h2 class="cs-title">Have A Project But Need A Professional?</h2>
            <a href="/contact" class="cs-button-solid">Contact Us For A Free Quote</a>
        </div>
</section>


<!-- ============================================ -->
<!--                    Map                       -->
<!-- ============================================ -->

<section id="map-720">
    <a href="https://maps.app.goo.gl/kLnEQdrPL89hdTST8" target="_blank">
        <picture class="cs-background">
            <!-- Mobile Image -->
            <source media="(max-width: 600px)" srcset="/assets/images/map.png">
            <!-- Tablet and above Image -->
            <source media="(min-width: 601px)" srcset="/assets/images/map.png">
            <img loading="lazy" decoding="async" src="/assets/images/map.png" alt="map" width="1280" height="600">
        </picture>
    </a>
</section>


                                
                                
{% endblock %}