---
title: 'Form Submission'
permalink: 'success/'
preloadImg: ''
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/success.css">
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                   Video                      -->
<!-- ============================================ -->

<section id="video-1492">
    <div class="cs-content">
        <h2 class="cs-title">Form submission successsful.</h2>
    </div>

</section>

{% endblock %}