---
title: 'Form Submission'
description: 'Meta description for the page'
permalink: 'success/'
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/success.css">
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                   Video                      -->
<!-- ============================================ -->

<section id="video-1492">
    <div class="cs-content">
        <h2 class="cs-title">Form submission successsful</h2>
        <a href="/contact" class="cs-button-solid">Contact Us For A Free Quote</a>
    </div>
    <div class="cs-container">
        <a href="https://www.youtube.com/watch?v=Xnk-IpT3nQA" class="cs-big-link">
            <!--Background Image-->
            <picture class="cs-picture">
                <source media="(min-width: 1024px)" srcset="/assets/images/elite-thumbnail.webp">
                <source media="(min-width: 601px)" srcset="/assets/images/elite-thumbnail.webp">
                <source media="(max-width: 600px)" srcset="/assets/images/elite-thumbnail-m.webp">
                <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/elite-thumbnail.webp" alt="kids" width="1290" height="710">
            </picture>
            <!--Play Icon-->
            <picture class="cs-icon-wrapper">
                <img class="cs-link-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/play-white.svg" alt="play icon" width="36" height="36">
            </picture>
        </a>
    </div>
</section>

{% endblock %}