/* PAGE-SPECIFIC STYLES FOR THE ABOUT PAGE */
/*-- -------------------------- -->
<---   Side By Side Reverse     -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #sbsr-599 {
    position: relative;
  }
  #sbsr-599 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #sbsr-599 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    max-width: 32.625rem;
    /* moved section padding to cs-content so the cs-background can be full width */
    padding: 2rem;
    /* prevents padding and border from affecting height and width */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
  }
  #sbsr-599 .cs-background {
    display: block;
    position: relative;
    width: 100%;
    height: 16rem;
    z-index: 1;
  }
  #sbsr-599 .cs-background img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #sbsr-599 {
    /* 90px - 150px */
    /* returned section padding to the section container, this Stitch has 1.5X padding top and bottom than the normal Stitch */
    padding: clamp(5.625rem, 9vw, 9.375rem) 1rem;
    margin-bottom: 5rem;
  }
  #sbsr-599 .cs-container {
    flex-direction: row;
    justify-content: flex-start;
  }
  #sbsr-599 .cs-background {
    width: 50%;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
  }
  #sbsr-599 .cs-content {
    width: 45%;
    padding: 0;
  }
}
/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #sbs-598 {
    position: relative;
  }
  #sbs-598 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #sbs-598 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    max-width: 32.625rem;
    /* moved section padding to cs-content so the cs-background can be full width */
    padding: 2rem;
    /* prevents padding and border from affecting height and width */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
  }
  #sbs-598 .cs-background {
    display: block;
    position: relative;
    width: 100%;
    height: 16rem;
    z-index: 1;
  }
  #sbs-598 .cs-background img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #sbs-598 {
    /* 90px - 150px */
    /* returned section padding to the section container, this Stitch has 1.5X padding top and bottom than the normal Stitch */
    padding: clamp(5.625rem, 9vw, 9.375rem) 1rem;
    margin-bottom: 5rem;
  }
  #sbs-598 .cs-container {
    flex-direction: row;
    justify-content: flex-end;
  }
  #sbs-598 .cs-background {
    width: 50%;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 50%;
  }
  #sbs-598 .cs-content {
    width: 45%;
    padding: 0;
  }
}
/*-- -------------------------- -->
<---           Quote            -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #quote-561 {
    display: none;
    background-color: transparent;
    background: url('/assets/images/quote.jpg') center center / cover no-repeat fixed;
    position: relative;
  }
  #quote-561 .cs-content {
    text-align: center;
    padding: 5rem;
  }
  #quote-561 .cs-container {
    position: relative;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.8);
  }
  #quote-561 .cs-quote {
    font-size: 1.5em;
    line-height: 1.2em;
    font-weight: 600;
    margin: 0;
    color: var(--headerColor);
    padding-top: 2rem;
  }
  #quote-561 .cs-name {
    font-size: clamp(1rem, 1.7vw, 1.25rem);
    line-height: 1.2em;
    font-weight: bolder;
    margin: 0;
    padding-top: 2rem;
    color: var(--secondary);
    display: block;
    letter-spacing: 0.01em;
  }
  #quote-561 .cs-company {
    font-size: clamp(1rem, 1.7vw, 1.25rem);
    line-height: 1.2em;
    font-weight: 400;
    font-style: italic;
    margin: 0;
    padding: 0.5rem;
    color: var(--secondary);
    display: block;
    letter-spacing: 0.01em;
    text-align: center;
  }
  #quote-561 .cs-name,
  #quote-561 .cs-company {
    color: white;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #quote-561 {
    display: block;
    background-color: transparent;
    background: url('/assets/images/quote.jpg') center center / cover no-repeat fixed;
    position: relative;
  }
  #quote-561 .cs-content {
    text-align: center;
    padding: 5rem;
  }
  #quote-561 .cs-container {
    position: relative;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.8);
  }
  #quote-561 .cs-quote {
    font-size: 1.5em;
    line-height: 1.2em;
    font-weight: 600;
    margin: 0;
    color: var(--headerColor);
    padding-top: 2rem;
  }
  #quote-561 .cs-name {
    font-size: clamp(1rem, 1.7vw, 1.25rem);
    line-height: 1.2em;
    font-weight: bolder;
    margin: 0;
    padding-top: 2rem;
    color: var(--secondary);
    display: block;
    letter-spacing: 0.01em;
  }
  #quote-561 .cs-company {
    font-size: clamp(1rem, 1.7vw, 1.25rem);
    line-height: 1.2em;
    font-weight: 400;
    font-style: italic;
    margin: 0;
    padding: 0.5rem;
    color: var(--secondary);
    display: block;
    letter-spacing: 0.01em;
    text-align: center;
  }
  #quote-561 .cs-name,
  #quote-561 .cs-company {
    color: white;
  }
}
/*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #services-1629 {
    padding: 2rem;
  }
  #services-1629 .cs-container {
    /* changes to 1280px at desktop */
    max-width: 50rem;
    max-width: 80rem;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #services-1629 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
  }
  #services-1629 .cs-title {
    max-width: 20ch;
  }
  #services-1629 .cs-text {
    max-width: 40rem;
    position: relative;
    z-index: 1;
  }
  #services-1629 .cs-text:after {
    /* divider line */
    content: "";
    width: 100%;
    height: 1px;
    margin-top: 1.5rem;
    background: var(--primary);
    opacity: 1;
    display: block;
    position: relative;
  }
  #services-1629 .cs-card-group {
    width: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    row-gap: 2.5rem;
    /* 16px - 40px */
    column-gap: clamp(1rem, 5vw, 2.5rem);
  }
  #services-1629 .cs-item {
    list-style: none;
    max-width: 25rem;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    align-items: flex-start;
    /* 16px - 24px */
    gap: clamp(1rem, 3vw, 1.5rem);
    text-align: left;
  }
  #services-1629 .cs-picture {
    /* 60px - 80px */
    width: clamp(3.75rem, 6vw, 4rem);
    height: clamp(3.75rem, 6vw, 4rem);
    margin: 0;
    box-sizing: border-box;
    border: 1px solid var(--secondary);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* prevents flexbox from squishing it */
    flex: none;
    background-color: var(--secondary);
    border-radius: 1rem;
  }
  #services-1629 .cs-icon {
    width: 2rem;
    height: auto;
    display: block;
  }
  #services-1629 .cs-h3 {
    font-size: 1.25rem;
    text-align: inherit;
    line-height: 1.5em;
    margin: 0;
    margin-bottom: 0.5rem;
    color: var(--headerColor);
  }
  #services-1629 .cs-item-text {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    text-align: inherit;
    line-height: 1.5em;
    margin: 0;
    color: var(--bodyTextColor);
  }
  #services-1629 .cs-button-solid {
    font-size: 1rem;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    font-weight: 700;
    min-width: 9.375rem;
    margin: 0;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
    padding: 0 1.5rem;
    color: #fff;
    background-color: var(--primary);
    text-decoration: none;
    display: inline-block;
    position: relative;
    z-index: 1;
    text-align: center;
  }
  #services-1629 .cs-button-solid:before {
    content: "";
    width: 0%;
    height: 100%;
    background: #000;
    opacity: 1;
    border-radius: 0.25rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 0.3s;
  }
  #services-1629 .cs-button-solid:hover:before {
    width: 100%;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #services-1629 .cs-container {
    max-width: 80rem;
  }
  #services-1629 .cs-item {
    margin: 0;
    width: 100%;
    align-items: flex-start;
  }
  #services-1629 .cs-h3,
  #services-1629 .cs-item-text {
    text-align: left;
  }
  #services-1629 .cs-content {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  #services-1629 .cs-flex {
    text-align: left;
    width: 40vw;
    max-width: 40rem;
    flex: none;
  }
  #services-1629 .cs-title {
    margin: 0;
  }
  #services-1629 .cs-text {
    padding: 0.75rem 0 0.75rem 1.5rem;
  }
  #services-1629 .cs-text:after {
    width: 1px;
    height: 100%;
    margin: 0 1.5rem 0 0;
    order: -1;
    position: absolute;
    left: 0;
    top: 0;
  }
}
/* Large Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
  #services-1629 .cs-card-group {
    max-width: 80rem;
  }
  #services-1629 .cs-item {
    flex-direction: row;
  }
}
/*-- -------------------------- -->
<---       Uganda         -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #uganda-999 {
    position: relative;
  }
  #uganda-999::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url(/assets/images/white-waves.svg);
  }
}
#uganda-999 .cs-container {
  padding: 2rem;
  width: 100%;
  max-width: 80rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: clamp(3rem, 6vw, 4rem);
}
#uganda-999 .cs-content {
  /* set text align to left if content needs to be left aligned */
  text-align: left;
  width: 100%;
  max-width: 32.625rem;
  /* prevents padding and border from affecting height and width */
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  /* centers content horizontally, set to flex-start to left align */
  align-items: flex-start;
}
#uganda-999 .cs-title {
  line-height: 1.2;
}
#uganda-999 .cs-text {
  margin-bottom: 1rem;
  font-weight: 400;
  font-size: large;
}
#uganda-999 .cs-text:last-of-type {
  margin-bottom: 2rem;
}
#uganda-999 .cs-background {
  display: block;
  position: relative;
  width: 100%;
  height: 16rem;
  z-index: 1;
}
#uganda-999 .cs-background img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
/* Styles for screens with a minimum width of 48rem (768px) */
@media only screen and (min-width: 48rem) {
  #uganda-999 {
    padding: clamp(5.625rem, 9vw, 9.375rem) 1rem;
    margin: 5rem 0rem;
    transform: scaleX(-1);
  }
  #uganda-999 .cs-container {
    flex-direction: row;
    /* Switch to a horizontal layout for screens 48rem and above */
    justify-content: space-between;
    /* Add space between items */
    align-items: flex-start;
    /* Align items to the start of the cross axis */
  }
  #uganda-999 .cs-background {
    display: block;
    width: 50%;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    margin: 0;
  }
  #uganda-999 .cs-content {
    transform: scaleX(-1);
    width: 45%;
    padding: 0;
    text-align: left;
    /* Align text content to the left */
  }
  #uganda-999 .cs-background img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
/*-- -------------------------- -->
<---          Gallery           -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #gallery-46 {
    padding: 2rem;
    position: relative;
  }
  #gallery-46 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #gallery-46 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
  }
  #gallery-46 .cs-image-group {
    width: 100%;
    margin: 0;
    display: grid;
    place-content: center;
    grid-template-columns: repeat(12, 1fr);
    /* 158px - 304px */
    grid-template-rows: 1fr;
    /* 8px - 20px */
    gap: clamp(0.5rem, 1.5vw, 1.25rem);
  }
  #gallery-46 .cs-item {
    width: 100%;
    margin: 0;
    aspect-ratio: 1;
    grid-column: span 6;
    display: block;
    position: relative;
    /* prevents image from overflowing the container on hover */
    overflow: hidden;
  }
  #gallery-46 .cs-item:hover .cs-picture img {
    transform: scale(1.1);
  }
  #gallery-46 .cs-item:hover .cs-hover-box {
    opacity: 1;
    pointer-events: all;
  }
  #gallery-46 .cs-item:hover .cs-heading3 {
    opacity: 1;
    /* Return to original position */
    transform: translateY(0);
  }
  #gallery-46 .cs-item:hover .cs-subtitle {
    opacity: 1;
    /* Return to original position */
    transform: translateY(0);
  }
  #gallery-46 .cs-item:hover .cs-link {
    opacity: 1;
    /* Return to original position */
    transform: translateY(0);
  }
  #gallery-46 .cs-picture {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  #gallery-46 .cs-picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: transform 0.6s;
  }
  #gallery-46 .cs-item-1 {
    grid-column: 1 / span 12;
    grid-row: 1 / 2;
    aspect-ratio: 328/158;
  }
  #gallery-46 .cs-item-5 {
    grid-column: 7 / span 6;
    grid-row: 3 / span 2;
    aspect-ratio: initial;
  }
  #gallery-46 .cs-hover-box {
    height: 100%;
    width: 100%;
    padding: 1rem 0.625rem;
    opacity: 0;
    position: absolute;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* Prevents padding from adding to the height & width */
    box-sizing: border-box;
    transition: opacity 0.3s;
    /* prevent it from interacting with the mouse so we can add a hover
            effect on the cs-item parent */
    pointer-events: none;
    position: relative;
  }
  #gallery-46 .cs-hover-box:before {
    /* top right box */
    content: "";
    width: 100%;
    height: 100%;
    background: var(--primary);
    opacity: 0.9;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
  }
  #gallery-46 .cs-heading3 {
    /* 16px - 20px */
    font-size: clamp(1rem, 5vw, 1.25rem);
    line-height: 1.2em;
    margin: 0;
    margin-bottom: 0.75rem;
    color: var(--bodyTextColorWhite);
    opacity: 0;
    /* starting point is 10px down from its original point */
    transform: translateY(0.625rem);
    transition: opacity 0.3s, transform 0.5s;
  }
  #gallery-46 .cs-subtitle {
    /* 13px - 15px */
    font-size: clamp(0.8125rem, 5vw, 0.9375rem);
    line-height: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
    /* Pushes the link to the bottom of the flexbox */
    margin-bottom: auto;
    color: var(--bodyTextColorWhite);
    opacity: 0;
    /* starting point is 10px down from its original point */
    transform: translateY(0.625rem);
    display: block;
    transition: opacity 0.3s, transform 0.5s;
    transition-delay: 0.1s;
  }
  #gallery-46 .cs-link {
    font-size: 0.9375rem;
    line-height: 1.5em;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    opacity: 0;
    /* starting point is 10px down from its original point */
    transform: translateY(0.625rem);
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition: opacity 0.3s, transform 0.5s;
    transition-delay: 0.3s;
  }
  #gallery-46 .cs-link:hover:before {
    width: 100%;
  }
  #gallery-46 .cs-link:before {
    content: "";
    position: absolute;
    display: block;
    height: 0.125rem;
    width: 0%;
    background: currentColor;
    opacity: 1;
    bottom: -0.125rem;
    left: 0;
    transition: width 0.3s;
  }
  #gallery-46 .cs-link svg {
    margin-right: 0.5rem;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #gallery-46 .cs-item {
    grid-column: span 3;
  }
  #gallery-46 .cs-item-1 {
    grid-column: 1 / span 6;
  }
  #gallery-46 .cs-item-2 {
    grid-column: 1 / span 3;
    grid-row: 2;
  }
  #gallery-46 .cs-item-3 {
    grid-column: 4 / span 3;
    grid-row: 2;
  }
  #gallery-46 .cs-item-5 {
    grid-column: 7 / span 3;
    grid-row: 2;
  }
  #gallery-46 .cs-item-6 {
    grid-column: 10 / span 3;
    grid-row: 1 / span 2;
    aspect-ratio: initial;
  }
}
