/* PAGE-SPECIFIC STYLES FOR THE REVIEWS PAGE */
/*-- -------------------------- -->
<---   Side By Side Reverse     -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #sbsr-599 {
    position: relative;
  }
  #sbsr-599 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #sbsr-599 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    max-width: 32.625rem;
    /* moved section padding to cs-content so the cs-background can be full width */
    padding: 2rem;
    /* prevents padding and border from affecting height and width */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
  }
  #sbsr-599 .cs-background {
    display: block;
    position: relative;
    width: 100%;
    height: 16rem;
    z-index: 1;
  }
  #sbsr-599 .cs-background img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #sbsr-599 {
    /* 90px - 150px */
    /* returned section padding to the section container, this Stitch has 1.5X padding top and bottom than the normal Stitch */
    padding: clamp(5.625rem, 9vw, 9.375rem) 1rem;
  }
  #sbsr-599 .cs-container {
    flex-direction: row;
    justify-content: flex-start;
  }
  #sbsr-599 .cs-background {
    width: 50%;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
  }
  #sbsr-599 .cs-background img {
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
  }
  #sbsr-599 .cs-content {
    width: 45%;
    padding: 0;
  }
}
/*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #services-17 {
    padding: 2.5rem 0 4.25rem;
    margin-top: 5rem;
  }
  #services-17 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
    border-top: 2px var(--primary) solid;
    border-bottom: 2px var(--primary) solid;
  }
  #services-17 .cs-content {
    /* set text align to left if content needs to be left aligned */
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: left;
  }
  #services-17 .cs-card-group {
    width: 100%;
    /* changes to 1280px at desktop */
    max-width: 56.25rem;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
  #services-17 .cs-item {
    text-align: left;
    list-style: none;
    width: 100%;
    max-width: 23rem;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
  #services-17 .cs-picture {
    margin-right: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* 60px - 68px */
    width: clamp(3.75rem, 6vw, 4.25rem);
    height: clamp(3.75rem, 6vw, 4.25rem);
    border-radius: 50%;
    border: 2px solid var(--primary);
    /* prevents border from affecting height and width */
    box-sizing: border-box;
    /* prevents flexbox from squishing it */
    flex: none;
  }
  #services-17 .cs-icon {
    width: auto;
    height: 2.5em;
    display: block;
  }
  #services-17 .cs-h3 {
    font-size: 1.25rem;
    line-height: 1.5em;
    margin-top: 1rem;
    color: var(--headerColor);
  }
  #services-17 .cs-item:nth-child(5) .cs-h3 {
    margin-top: 0;
  }
}
/* Tablet - 600px */
@media only screen and (min-width: 37.5rem) {
  #services-17 .cs-card-group {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 2.5rem;
    row-gap: 2.5rem;
  }
  #services-17 .cs-item {
    margin: 0;
    width: 46%;
  }
  #services-17 .cs-content {
    /* set text align to left if content needs to be left aligned */
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
    text-align: center;
  }
}
/* Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
  #services-17 .cs-card-group {
    max-width: 80rem;
  }
  #services-17 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 3rem 0rem;
    border-top: 2px var(--primary) solid;
    border-bottom: 2px var(--primary) solid;
  }
  #services-17 .cs-content {
    /* set text align to left if content needs to be left aligned */
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
    text-align: center;
  }
}
/*-- -------------------------- -->
<---            Map             -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #map-720 {
    min-height: 33.75rem;
    /* prevents padding and border from affecting height and width */
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  #map-720 .cs-background {
    width: 100%;
    height: 80%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  #map-720 .cs-background img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: auto;
    padding: 1rem;
    /* Makes img tag act as a background image */
  }
}
@media only screen and (min-width: 40rem) {
  #map-720 {
    min-height: 33.75rem;
    /* prevents padding and border from affecting height and width */
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  #map-720 .cs-background {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  #map-720 .cs-background img {
    position: absolute;
    top: 0;
    left: 0;
    height: auto;
    width: 100%;
    padding: 0rem 5rem;
    /* Makes img tag act as a background image */
  }
}
/*-- -------------------------- -->
<---           Bamboo          -->
<--- -------------------------- -*/
/* Mobile */
@media only screen and (min-width: 0em) {
  #BambooHR {
    padding: 0rem 2rem;
    margin-top: -5rem;
  }
  #BambooHR a {
    text-decoration: none;
    color: var(--secondary);
    font-family: montserrat, sans-serif;
    font-size: clamp(0.5rem, 6.4vw, 1rem);
  }
  #BambooHR a:hover {
    color: var(--primary);
  }
  #BambooHR h2 {
    font-size: clamp(2rem, 6.4vw, 1rem);
  }
  #BambooHR #department_18459,
  #BambooHR #department_18437 {
    font-size: clamp(0rem, 6.4vw, 1rem);
  }
  #BambooHR .BambooHR-ATS-Location {
    font-size: clamp(0.5rem, 3.4vw, 1rem);
    display: none;
  }
  #BambooHR h2,
  #BambooHR #department_18459,
  #BambooHR #department_18437,
  #BambooHR .BambooHR-ATS-Location {
    color: var(--secondary);
    font-family: montserrat, sans-serif;
    font-weight: 700;
  }
}
/* Tablet */
@media only screen and (min-width: 48em) {
  #BambooHR {
    padding: 2rem 5rem;
    margin-top: 0rem;
  }
  #BambooHR a {
    text-decoration: none;
    color: var(--secondary);
    font-family: montserrat, sans-serif;
    font-size: clamp(0.5rem, 6.4vw, 0.8rem);
  }
  #BambooHR a:hover {
    color: var(--primary);
  }
  #BambooHR h2 {
    font-size: clamp(2rem, 6.4vw, 1rem);
  }
  #BambooHR #department_18459,
  #BambooHR #department_18437 {
    font-size: clamp(0rem, 6.4vw, 1rem);
  }
  #BambooHR .BambooHR-ATS-Location {
    font-size: clamp(0.5rem, 3.4vw, 0.8rem);
    display: block;
  }
  #BambooHR h2,
  #BambooHR #department_18459,
  #BambooHR #department_18437,
  #BambooHR .BambooHR-ATS-Location {
    color: var(--secondary);
    font-family: montserrat, sans-serif;
    font-weight: 700;
  }
}
