/* PAGE-SPECIFIC STYLES FOR THE REVIEWS PAGE */
/*-- -------------------------- -->
<---   Side By Side Reverse     -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #sbsr-599 {
    position: relative;
  }
  #sbsr-599 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #sbsr-599 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    max-width: 32.625rem;
    /* moved section padding to cs-content so the cs-background can be full width */
    padding: 2rem;
    /* prevents padding and border from affecting height and width */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
  }
  #sbsr-599 .cs-background {
    display: block;
    position: relative;
    width: 100%;
    height: 16rem;
    z-index: 1;
  }
  #sbsr-599 .cs-background img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #sbsr-599 {
    /* 90px - 150px */
    /* returned section padding to the section container, this Stitch has 1.5X padding top and bottom than the normal Stitch */
    padding: clamp(5.625rem, 9vw, 9.375rem) 1rem;
  }
  #sbsr-599 .cs-container {
    flex-direction: row;
    justify-content: flex-start;
  }
  #sbsr-599 .cs-background {
    width: 50%;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
  }
  #sbsr-599 .cs-content {
    width: 45%;
    padding: 0;
  }
}
/*-- -------------------------- -->
<---            Map             -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #map-720 {
    min-height: 33.75rem;
    /* prevents padding and border from affecting height and width */
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  #map-720 .cs-background {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  #map-720 .cs-background img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 75%;
    margin-left: 18rem;
    margin-top: 5rem;
    /* Makes img tag act as a background image */
  }
}
/*-- -------------------------- -->
<---           Bamboo          -->
<--- -------------------------- -*/
/* Mobile */
@media only screen and (min-width: 0em) {
  #BambooHR {
    padding: 2rem;
  }
  #BambooHR a {
    text-decoration: none;
    color: var(--secondary);
    font-family: montserrat, sans-serif;
    font-size: clamp(0.5rem, 6.4vw, 1rem);
  }
  #BambooHR a:hover {
    color: var(--primary);
  }
  #BambooHR h2 {
    font-size: clamp(2rem, 6.4vw, 1rem);
  }
  #BambooHR #department_18459,
  #BambooHR #department_18437 {
    font-size: clamp(0rem, 6.4vw, 1rem);
  }
  #BambooHR .BambooHR-ATS-Location {
    font-size: clamp(0.5rem, 3.4vw, 1rem);
    display: none;
  }
  #BambooHR h2,
  #BambooHR #department_18459,
  #BambooHR #department_18437,
  #BambooHR .BambooHR-ATS-Location {
    color: var(--secondary);
    font-family: montserrat, sans-serif;
    font-weight: 700;
  }
}
/* Tablet */
@media only screen and (min-width: 48em) {
  #BambooHR {
    padding: 5rem;
  }
  #BambooHR a {
    text-decoration: none;
    color: var(--secondary);
    font-family: montserrat, sans-serif;
    font-size: clamp(0.5rem, 6.4vw, 0.8rem);
  }
  #BambooHR a:hover {
    color: var(--primary);
  }
  #BambooHR h2 {
    font-size: clamp(2rem, 6.4vw, 1rem);
  }
  #BambooHR #department_18459,
  #BambooHR #department_18437 {
    font-size: clamp(0rem, 6.4vw, 1rem);
  }
  #BambooHR .BambooHR-ATS-Location {
    font-size: clamp(0.5rem, 3.4vw, 0.8rem);
    display: block;
  }
  #BambooHR h2,
  #BambooHR #department_18459,
  #BambooHR #department_18437,
  #BambooHR .BambooHR-ATS-Location {
    color: var(--secondary);
    font-family: montserrat, sans-serif;
    font-weight: 700;
  }
}
