/* PAGE-SPECIFIC STYLES FOR THE HOME PAGE */
/*-- -------------------------- -->
<---   Side By Side Reverse     -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #sbsr-599 {
    position: relative;
    padding: 0rem 2rem;
    margin-bottom: 2rem;
  }
  #sbsr-599 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #sbsr-599 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    max-width: 32.625rem;
    /* moved section padding to cs-content so the cs-background can be full width */
    /* prevents padding and border from affecting height and width */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
  }
  #sbsr-599 .cs-text {
    margin-bottom: 1rem;
  }
  #sbsr-599 .cs-text:last-of-type {
    margin-bottom: 2rem;
  }
  #sbsr-599 .cs-background {
    display: none;
    position: relative;
    width: 100%;
    height: 16rem;
    z-index: 1;
  }
  #sbsr-599 .cs-background img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #sbsr-599 {
    /* 90px - 150px */
    /* returned section padding to the section container, this Stitch has 1.5X padding top and bottom than the normal Stitch */
    padding: clamp(5.625rem, 9vw, 9.375rem) 1rem;
    margin: 5rem 0rem;
  }
  #sbsr-599 .cs-container {
    flex-direction: row;
    justify-content: flex-start;
  }
  #sbsr-599 .cs-background {
    display: block;
    width: 50%;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
  }
  #sbsr-599 .cs-content {
    width: 45%;
    padding: 0;
  }
}
/*-- -------------------------- -->
<---           Quote            -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #quote-561 {
    background-color: transparent;
    background: url('/assets/images/quote.webp') center center / cover no-repeat fixed;
    position: relative;
  }
  #quote-561 .cs-content {
    text-align: center;
    padding: 5rem;
  }
  #quote-561 .cs-container {
    position: relative;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.8);
  }
  #quote-561 .cs-quote {
    font-size: 1.5em;
    line-height: 1.2em;
    font-weight: 600;
    margin: 0;
    color: var(--headerColor);
    padding-top: 2rem;
  }
  #quote-561 .cs-name {
    font-size: clamp(1rem, 1.7vw, 1.25rem);
    line-height: 1.2em;
    font-weight: bolder;
    margin: 0;
    padding-top: 2rem;
    color: var(--secondary);
    display: block;
    letter-spacing: 0.01em;
  }
  #quote-561 .cs-company {
    font-size: clamp(1rem, 1.7vw, 1.25rem);
    line-height: 1.2em;
    font-weight: 400;
    font-style: italic;
    margin: 0;
    padding: 0.5rem;
    color: var(--secondary);
    display: block;
    letter-spacing: 0.01em;
    text-align: center;
  }
  #quote-561 .cs-name,
  #quote-561 .cs-company {
    color: white;
  }
}
/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0em) {
  #sbs-r {
    padding: var(--sectionPadding);
  }
  #sbs-r .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 2.5rem;
  }
  #sbs-r .cs-left {
    /* scaling the font size with the view width */
    font-size: min(2.31vw, 0.7em);
    /* using ems so we can use font size to scale the whole section */
    width: 39.4375em;
    height: 39.75em;
    position: relative;
    display: none;
  }
  #sbs-r .cs-picture {
    border-radius: 1.5em;
    display: block;
    position: absolute;
    /* clips img tag corners */
    overflow: hidden;
  }
  #sbs-r .cs-picture img {
    width: 100%;
    height: 100%;
    /* makes image act like a background image */
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
  #sbs-r .cs-picture1 {
    width: 32.625em;
    height: 36.3125em;
    top: 0;
    right: 0;
  }
  #sbs-r .cs-right {
    max-width: 33.875rem;
    margin: auto;
  }
  #sbs-r .cs-topper {
    text-align: left;
    margin-bottom: 0.25rem;
  }
  #sbs-r .cs-title {
    text-align: left;
    max-width: 50rem;
  }
  #sbs-r .cs-text {
    text-align: left;
    max-width: 46.875rem;
    margin-bottom: 1rem;
  }
  #sbs-r .cs-text:last-of-type {
    margin-bottom: 2rem;
  }
  #sbs-r .cs-flex-group {
    /* 16px - 32px */
    padding: clamp(1rem, 3vw, 2rem);
    background-color: #f7f7f7;
    border-radius: 1rem;
    position: relative;
  }
  #sbs-r .cs-flex-p {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    line-height: 1.5em;
    margin: 0 0 1rem;
    color: #353535;
  }
  #sbs-r .cs-name {
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.2em;
    text-transform: uppercase;
    margin: 0 0 0.25rem;
    color: var(--headerColor);
    display: block;
  }
  #sbs-r .cs-job {
    font-size: 0.875rem;
    line-height: 1.5em;
    color: #353535;
    display: block;
  }
  #sbs-r .cs-quote-icon {
    /* 60px - 136px */
    width: clamp(3.75rem, 10vw, 8.5rem);
    height: auto;
    position: absolute;
    /* 16px - 32px */
    right: clamp(1rem, 4vw, 2rem);
    bottom: 0rem;
  }
}
/* Desktop - 1024px */
@media only screen and (min-width: 64em) {
  #sbs-r .cs-container {
    flex-flow: row;
    justify-content: space-between;
    gap: 3.25rem;
  }
  #sbs-r .cs-left {
    font-size: min(1.2vw, 1em);
    /* sends it to the right */
    order: 2;
    flex: none;
    display: block;
  }
  #sbs-r .cs-right {
    margin: 0;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0em) {
  body.dark-mode #sbs-r .cs-left:before,
  body.dark-mode #sbs-r .cs-left:after {
    background: var(--accent);
  }
  body.dark-mode #sbs-r .cs-topper {
    color: var(--primaryLight);
  }
  body.dark-mode #sbs-r .cs-title,
  body.dark-mode #sbs-r .cs-text,
  body.dark-mode #sbs-r .cs-h3,
  body.dark-mode #sbs-r .cs-flex-p,
  body.dark-mode #sbs-r .cs-name {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #sbs-r .cs-flex-group {
    background-color: var(--accent);
  }
  body.dark-mode #sbs-r .cs-job {
    color: var(--bodyTextColorWhite);
    opacity: 0.8;
  }
  body.dark-mode #sbs-r .cs-quote-icon {
    opacity: 0.2;
  }
}
/*-- -------------------------- -->
<---           Blog             -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #blog-1144 {
    padding: 2rem;
    background-color: var(--backgroundColor);
    position: relative;
    z-index: 1;
  }
  #blog-1144 .cs-container {
    width: 100%;
    /* changes to 1280px at tablet */
    max-width: 49rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #blog-1144 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
  }
  #blog-1144 .cs-title {
    /* max width of 18 characters, incldues spaces between words */
    max-width: 20ch;
  }
  #blog-1144 .cs-card-group {
    width: 100%;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 1.25rem;
  }
  #blog-1144 .cs-item {
    text-align: left;
    list-style: none;
    border-radius: 1rem;
    overflow: hidden;
    background-color: var(--headerBackgroundColor);
    grid-column: span 12;
    display: flex;
    cursor: default;
    /* CHANGE TO POINTER WHEN CONTENT IS MADE!!! */
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    z-index: 1;
    transition: box-shadow 0.3s, transform 0.3s;
  }
  #blog-1144 .cs-item:hover {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
  #blog-1144 .cs-item:hover .cs-picture img {
    opacity: 0.3;
    transform: scale(1.1);
  }
  #blog-1144 .cs-picture {
    width: 100%;
    height: 15rem;
    background-color: #1a1a1a;
    overflow: hidden;
    display: block;
    /* prevents flexbox from squishing it */
    flex: none;
    position: relative;
    z-index: 1;
  }
  #blog-1144 .cs-picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: transform 0.6s, opacity 0.3s;
  }
  #blog-1144 .cs-flex {
    height: 100%;
    padding: 1.5rem;
    /* prevents padding and border from affecting height and width */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    z-index: 2;
  }
  #blog-1144 .cs-h3 {
    font-size: 1.25rem;
    text-align: inherit;
    line-height: 1.2em;
    font-weight: 700;
    color: var(--secondary);
    margin: 0 0 0.75rem 0;
    transition: color 0.3s;
  }
  #blog-1144 .cs-item-text {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    line-height: 1.5em;
    text-align: inherit;
    margin: 0 0 1.25rem;
    color: var(--bodyTextColor);
  }
  #blog-1144 .cs-link {
    font-size: 1rem;
    line-height: 1.2em;
    font-weight: 700;
    text-decoration: none;
    margin-top: auto;
    color: var(--secondary);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #blog-1144 .cs-link:hover .cs-arrow {
    transform: translateX(0.25rem);
  }
  #blog-1144 .cs-arrow {
    width: 1.25rem;
    height: auto;
    transition: transform 0.3s;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #blog-1144 .cs-container {
    max-width: 80rem;
  }
  #blog-1144 .cs-content {
    text-align: left;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }
  #blog-1144 .cs-title {
    margin: 0;
  }
  #blog-1144 .cs-item {
    grid-column: span 4;
  }
}
/*-- -------------------------- -->
<---       Uganda         -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #uganda-999 {
    position: relative;
  }
  #uganda-999::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url(/assets/svgs/white-waves.svg);
  }
}
#uganda-999 .cs-container {
  padding: 2rem;
  width: 100%;
  max-width: 80rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: clamp(3rem, 6vw, 4rem);
}
#uganda-999 .cs-content {
  /* set text align to left if content needs to be left aligned */
  text-align: left;
  width: 100%;
  max-width: 32.625rem;
  /* prevents padding and border from affecting height and width */
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  /* centers content horizontally, set to flex-start to left align */
  align-items: flex-start;
}
#uganda-999 .cs-title {
  line-height: 1.2;
}
#uganda-999 .cs-text {
  margin-bottom: 1rem;
  font-weight: 400;
  font-size: large;
}
#uganda-999 .cs-text:last-of-type {
  margin-bottom: 2rem;
}
#uganda-999 .cs-background {
  display: block;
  position: relative;
  width: 100%;
  height: 16rem;
  z-index: 1;
}
#uganda-999 .cs-background img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
/* Styles for screens with a minimum width of 48rem (768px) */
@media only screen and (min-width: 48rem) {
  #uganda-999 {
    padding: clamp(5.625rem, 9vw, 9.375rem) 1rem;
    /* margin: 5rem 0rem;                                                   !!!  SWITCH THIS OUT with margin and margin-top WHEN MARK MAKES BLOGS!!!*/
    margin: 0rem;
    margin-top: 3rem;
    transform: scaleX(-1);
  }
  #uganda-999 .cs-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
  #uganda-999 .cs-background {
    display: block;
    width: 50%;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    margin: 0;
  }
  #uganda-999 .cs-content {
    transform: scaleX(-1);
    width: 45%;
    padding: 0;
    text-align: left;
    /* Align text content to the left */
  }
  #uganda-999 .cs-background img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
/*-- -------------------------- -->
<---           Blog             -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #blog-1580 {
    padding: 2rem;
    position: relative;
    z-index: 1;
  }
  #blog-1580 .cs-container {
    width: 100%;
    /* changes to 1280px at tablet */
    max-width: 36.5rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #blog-1580 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
  }
  #blog-1580 .cs-title {
    max-width: 20ch;
  }
  #blog-1580 .cs-card-group {
    width: 100%;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    row-gap: 1.75rem;
    /* 16px - 20px */
    column-gap: clamp(1rem, 2.5vw, 1.25rem);
  }
  #blog-1580 .cs-item {
    text-align: left;
    list-style: none;
    overflow: hidden;
    grid-column: span 12;
    position: relative;
    z-index: 1;
    transition: box-shadow 0.3s, transform 0.3s;
  }
  #blog-1580 .cs-item:hover .cs-picture img {
    opacity: 0.3;
    transform: scale(1.1);
  }
  #blog-1580 .cs-link {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  #blog-1580 .cs-picture {
    width: 100%;
    min-height: 13.75rem;
    /* changes at tablet */
    max-height: 18.75rem;
    height: 100vw;
    /* 16px - 24px */
    margin: 0 0 clamp(1rem, 3vw, 1.5rem) 0;
    background-color: #1a1a1a;
    overflow: hidden;
    display: block;
    /* prevents flexbox from squishing it */
    flex: none;
    position: relative;
    z-index: 1;
  }
  #blog-1580 .cs-picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: transform 0.6s, opacity 0.3s;
  }
  #blog-1580 .cs-flex {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    z-index: 2;
  }
  #blog-1580 .cs-date {
    font-size: 1rem;
    line-height: 1.2em;
    font-weight: 700;
    text-align: inherit;
    margin: 0 0 2rem 0;
    padding: 0.5rem 1rem;
    /* prevents padding from affecting height and width */
    box-sizing: border-box;
    background-color: var(--secondary);
    color: #1a1a1a;
    display: inline-block;
    position: absolute;
    left: 1rem;
    bottom: 100%;
    z-index: 2;
  }
  #blog-1580 .cs-h3 {
    /* 20px - 25px */
    font-size: clamp(1.25rem, 2.5vw, 1.5625rem);
    text-align: inherit;
    line-height: 1.2em;
    font-weight: 700;
    color: var(--secondary);
    /* 12px - 16px */
    margin: 0 0 clamp(0.75rem, 2vw, 1rem) 0;
    transition: color 0.3s;
  }
  #blog-1580 .cs-item-text {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    line-height: 1.5em;
    text-align: inherit;
    margin: 0;
    color: var(--bodyTextColor);
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #blog-1580 .cs-container {
    max-width: 80rem;
  }
  #blog-1580 .cs-content {
    text-align: left;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }
  #blog-1580 .cs-title {
    margin: 0;
  }
  #blog-1580 .cs-item {
    grid-column: span 4;
  }
  #blog-1580 .cs-picture {
    min-height: 11.25rem;
    /* 180px - 284px */
    height: clamp(11.25rem, 23vw, 17.75rem);
    max-height: 100%;
    border-radius: 1rem;
  }
}
