/*-- -------------------------- -->
<---         Subscribe          -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #subscribe {
    background-color: #30312D;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
    margin-top: 5rem;
  }
  #subscribe .cs-container {
    width: 100%;
    /* changes to 1312px at tablet */
    max-width: 34.375rem;
    margin: auto;
    padding: var(--sectionPadding);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #subscribe .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    max-width: 39.375rem;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
    position: relative;
    z-index: 1;
  }
  #subscribe .cs-title {
    max-width: 20ch;
    color: var(--bodyTextColorWhite);
  }
  #subscribe .cs-text {
    margin-bottom: 1rem;
    color: var(--bodyTextColorWhite);
    opacity: 0.8;
  }
  #subscribe .cs-text:last-of-type {
    margin-bottom: 2rem;
  }
  #subscribe .cs-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
  #subscribe .cs-input {
    font-size: 1rem;
    width: 100%;
    height: clamp(2.875rem, 5.5vw, 3.5rem);
    margin: 0;
    padding: 0;
    padding-left: 1.25rem;
    border: none;
    /* prevents padding from adding to width and height */
    box-sizing: border-box;
    display: block;
  }
  #subscribe .cs-input::placeholder {
    color: #767676;
  }
  #subscribe .cs-button-solid {
    font-size: 1rem;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    margin: 0;
    color: #fff;
    min-width: 9.375rem;
    padding: 0 1.5rem;
    background-color: var(--primary);
    display: inline-block;
    position: relative;
    z-index: 1;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
  }
  #subscribe .cs-button-solid:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 0%;
    background: #000;
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 0.3s;
  }
  #subscribe .cs-button-solid:hover:before {
    width: 100%;
  }
  #subscribe .cs-submit {
    width: 100%;
    border: none;
    color: var(--bodyTextColorWhite);
  }
  #subscribe .cs-submit:hover {
    cursor: pointer;
  }
  #subscribe .cs-background {
    width: 100%;
    height: 100vw;
    max-height: 25rem;
    display: block;
    order: -1;
    position: relative;
    z-index: 2;
  }
  #subscribe .cs-background img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  #subscribe .cs-floater {
    /* 296px - 450px */
    width: clamp(18.5rem, 35vw, 28.125rem);
    height: auto;
    opacity: 0.04;
    position: absolute;
    right: -8.0625rem;
    top: -9.375rem;
    z-index: -1;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #subscribe {
    flex-direction: row;
    align-items: stretch;
  }
  #subscribe .cs-container {
    max-width: 82rem;
    align-items: flex-end;
  }
  #subscribe .cs-content {
    width: 45vw;
    max-width: 39.375rem;
  }
  #subscribe .cs-background {
    width: 50%;
    max-height: 100%;
    height: 100%;
    position: absolute;
    right: 50%;
  }
}
/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #subscribe .cs-content {
    /* remove the positioning so the cs-floater is now absolutely positioned to the nearest parent that has a declared position relative, which is the section parent */
    position: initial;
  }
  #subscribe .cs-form {
    flex-direction: row;
  }
  #subscribe .cs-button-solid {
    width: auto;
  }
  #subscribe .cs-floater {
    top: 50%;
    right: -12.5rem;
    transform: translateY(-50%);
  }
}
/* Large Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
  #subscribe .cs-content {
    width: 100%;
  }
  #subscribe .cs-background {
    margin-right: 7.375rem;
  }
}
