/*-- -------------------------- -->
<---           Hero             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #hero {
        /* 200px - 300px - leaving extra space for the navigation */
        padding: clamp(12.5rem, 25.95vw, 18.75em) (16/16rem);
        /* prevents the topper line from causing an overflow */
        overflow: hidden;
        position: relative;
        z-index: 1;

        .cs-container {
            width: 100%;
            max-width: (1280/16rem);
            margin: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            gap: (48/16rem);
        }

        .cs-content {
            text-align: center;
            width: 100%;
            max-width: (750/16rem);
        }

        .cs-title {
            /* 49px - 84px */
            font-size: clamp(3.0625rem, 6vw, 5.25rem);
        }

        .cs-title,
        .cs-text {
            color: var(--bodyTextColorWhite);
        }

        .cs-text {
            margin-bottom: (32/16rem);
        }

        .cs-button-group {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: (8/16rem);
        }

        .cs-button-solid {
            font-size: (16/16rem);
            font-weight: 700;
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-align: center;
            text-decoration: none;
            min-width: (200/16rem);
            margin: 0;
            /* prevents padding from adding to the width */
            box-sizing: border-box;
            padding: 0 (24/16rem);
            background-color: var(--primary);
            color: var(--bodyTextColorWhite);
            border-radius: (4/16rem);
            display: inline-block;
            position: relative;
            z-index: 1;

            &:before {
                content: "";
                width: 0%;
                height: 100%;
                background: #000;
                opacity: 1;
                border-radius: (4/16rem);
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
                transition: width 0.3s;
            }

            &:hover {
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-graphic {
            width: 100%;
            min-width: (1920/16rem);
            height: auto;
            object-fit: cover;
            position: absolute;
            bottom: 0;
            left: 50%;
            z-index: 0;
            transform: translateX(-50%);
        }

        .cs-graphic-dark {
            display: none;
        }

        .cs-background {
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -2;

            &:before {
                /* Overlay */
                content: "";
                width: 100%;
                height: 100%;
                background: #000;
                /* prevents the cursor from interacting with it */
                pointer-events: none;
                opacity: 0.7;
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 1;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
            }
        }
    }
}

/* Large Desktop - 1920px */
@media only screen and (min-width: 120rem) {
    #hero {
        /* this ties the padding bottom value to the size of the screen width. The wider the image gets the taller it gets, meaning it will get clsoer and closer to the content. This makes the padding bottom value grow with the screen size so it accounts for the growing height of the svg graphic getting taller */
        padding-bottom: 14vw;
    }
}
                                
/* PAGE-SPECIFIC STYLES FOR THE REVIEWS PAGE */

/*-- -------------------------- -->
<---   Side By Side Reverse     -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #sbsr-599 {
        position: relative;

        .cs-container {
            width: 100%;
            max-width: (1280/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            max-width: (522/16rem);
            /* moved section padding to cs-content so the cs-background can be full width */
            padding: 2rem;
            /* prevents padding and border from affecting height and width */
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
        }

        .cs-background {
            display: block;
            position: relative;
            width: 100%;
            height: (256/16rem);
            z-index: 1;

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #sbsr-599 {
        /* 90px - 150px */
        /* returned section padding to the section container, this Stitch has 1.5X padding top and bottom than the normal Stitch */
        padding: clamp(5.625rem, 9vw, 9.375rem) (16/16rem);
        
        .cs-container {
            flex-direction: row;
            justify-content: flex-start;
        }

        .cs-background {
            width: 50%;
            height: auto;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 50%;

        img {
            border-top-left-radius: (16/16rem);
            border-bottom-left-radius: (16/16rem);
        }
        }

        .cs-content {
            width: 45%;
            padding: 0;
        }
    }
}

/*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #services-17 {
        padding: 2.5rem 0 4.25rem; 
        margin-top: 5rem;

        .cs-container {
            width: 100%;
            max-width: (1280/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 2rem;
            padding: 2rem;
            border-top: 2px var(--primary) solid;
            border-bottom: 2px var(--primary) solid;
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: left;
        }

        .cs-card-group {
            width: 100%;
            /* changes to 1280px at desktop */
            max-width: (900/16rem);
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: (32/16rem);
        }

        .cs-item {
            text-align: left;
            list-style: none;
            width: 100%;
            max-width: (368/16rem);
            margin: 0;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
        }

        .cs-picture {
            margin-right: (20/16rem);
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            /* 60px - 68px */
            width: clamp(3.75rem, 6vw, 4.25rem);
            height: clamp(3.75rem, 6vw, 4.25rem);
            border-radius: 50%;
            border: 2px solid var(--primary);
            /* prevents border from affecting height and width */
            box-sizing: border-box;
            /* prevents flexbox from squishing it */
            flex: none;
        }

        .cs-icon {
            width: auto;
            height: 2.5em;
            display: block;
        }

        .cs-h3 {
            font-size: (20/16rem);
            line-height: 1.5em;
            margin-top: 1rem;
            color: var(--headerColor);;
        }
        .cs-item:nth-child(5) .cs-h3 {
            margin-top: 0;
        }
    
    }
}

/* Tablet - 600px */
@media only screen and (min-width: 37.5rem) {
    #services-17 {
        .cs-card-group {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            column-gap: (40/16rem);
            row-gap: (40/16rem);
        }

        .cs-item {
            margin: 0;
            width: 46%;
        }
        .cs-content {
            /* set text align to left if content needs to be left aligned */
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
            text-align: center;
        }
    }
}

/* Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
    #services-17 {
        .cs-card-group {
            max-width: (1280/16rem);
        }
        .cs-container {
            width: 100%;
            max-width: (1280/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 2rem;
            padding: 3rem 0rem;
            border-top: 2px var(--primary) solid;
            border-bottom: 2px var(--primary) solid;
        }
        .cs-content {
            /* set text align to left if content needs to be left aligned */
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
            text-align: center;
        }
    }
}

/*-- -------------------------- -->
<---            Map             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #map-720 {
        min-height: (540/16rem);
        /* prevents padding and border from affecting height and width */
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        .cs-background {
            width: 100%;
            height: 80%;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: auto;
                padding: 1rem;
                /* Makes img tag act as a background image */
            }
        }
    }
}

@media only screen and (min-width: 40rem) {
    #map-720 {
        min-height: (540/16rem);
        /* prevents padding and border from affecting height and width */
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;


        .cs-background {
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;

            img {
                position: absolute;
                top: 0;
                left: 0;
                height:auto;
                width: 100%;
                padding: 0rem 5rem;
                
                /* Makes img tag act as a background image */
            }
        }
    }
}

/*-- -------------------------- -->
<---           Bamboo          -->
<--- -------------------------- -*/

/* Mobile */
@media only screen and (min-width: 0em) {
    #BambooHR {
        padding: 0rem 2rem;

        a {
          text-decoration: none;
          color: var(--secondary);
          font-family: montserrat, sans-serif;
          font-size: clamp(0.50rem, 6.4vw, 1rem);

          &:hover {
            color: var(--primary);
          }
        }
        h2 {
            font-size: clamp(2rem, 6.4vw, 1rem);
        }
        #department_18459,
        #department_18437 {
            font-size: clamp(0.0rem, 6.4vw, 1rem);
        }
        .BambooHR-ATS-Location {
            font-size: clamp(0.50rem, 3.4vw, 1rem);
            display: none;
        }
        h2,
        #department_18459,
        #department_18437,
        .BambooHR-ATS-Location {
          color: var(--secondary);
          font-family: montserrat, sans-serif;
          font-weight: 700;
        }
      }
}

/* Tablet */
@media only screen and (min-width: 48em) {
    #BambooHR {
        padding: 2rem 5rem;
        margin-top: 10rem;
      
        a {
          text-decoration: none;
          color: var(--secondary);
          font-family: montserrat, sans-serif;
          font-size: clamp(0.50rem, 6.4vw, 0.80rem);

          &:hover {
            color: var(--primary);
          }
        }
        h2 {
            font-size: clamp(2rem, 6.4vw, 1rem);
        }
        #department_18459,
        #department_18437 {
            font-size: clamp(0.0rem, 6.4vw, 1rem);
        }
        .BambooHR-ATS-Location {
            font-size: clamp(0.50rem, 3.4vw, 0.80rem);
            display: block;
        }
        h2,
        #department_18459,
        #department_18437,
        .BambooHR-ATS-Location {
          color: var(--secondary);
          font-family: montserrat, sans-serif;
          font-weight: 700;
        }
      }
}

/*-- -------------------------- -->
<---            FAQ             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #faq-2066 {
        padding: var(--sectionPadding);
        overflow: hidden;
        position: relative;

        .cs-container {
            width: 100%;
            max-width: (704/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
            position: relative;
            z-index: 1;
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-flex-group {
            width: 100%;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            gap: (32/16rem);
            position: relative;
        }

        .cs-button-group {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            align-content: flex-start;
            flex-wrap: wrap;
            gap: (12/16rem);
            align-self: stretch;
        }

        .cs-option {
            /* 16px - 20px */
            font-size: clamp(1rem, 2vw, 1.25rem);
            font-weight: 700;
            /* 50px - 72px */
            line-height: 1.2em;
            /* prevents border from affecting height and width */
            box-sizing: border-box;
            padding: (12/16rem);
            background-color: #fff;
            color: var(--bodyTextColor);
            border: 1px solid #bababa;
            border-radius: (8/16rem);
            position: relative;
            z-index: 1;
            transition: border-color 0.3s;

            &:before {
                /* background color */
                content: "";
                width: 100%;
                height: 100%;
                background: var(--primary);
                opacity: 0;
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
                transition: opacity 0.3s;
            }

            &:hover {
                &:hover {
                    cursor: pointer;
                    border-color: var(--primary);

                    &:before {
                        opacity: 0.1;
                    }
                }
            }

            &.cs-active {
                color: var(--primary);
                border-color: var(--primary);

                &:before {
                    opacity: 0.1;
                }
            }
        }

        .cs-wrapper {
            position: relative;
        }

        .cs-faq-group {
            width: 100%;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: (8/16rem);
            transform-style: preserve-3d;
            perspective: 900px;
            transition:
                transform 0.7s,
                opacity 0.3s,
                visibility 0.5s,
                top 0.3s,
                left 0.3s;
            /* makes the transfrom scaling orgin the top left corner, dictates the direction by which the scale transforms animate towards */
            transform-origin: top;

            &.cs-hidden {
                /* prevents the mouse from interacting with it */
                pointer-events: none;
                /* hidden galleries have a 0 opacity, and we animate the opacity to 1 when they become active */
                opacity: 0;
                /* by using visibility:hidden instead of display:none, we can see the animations from the opacity and transforms, display:none won't render animations. */
                visibility: hidden;
                position: absolute;
                /* this top and left value help control the animation, by setting it to position absolute and left 0, the FAQ won't fly off screen to the left, it will stop its position to be at the left edge of the .cs-flex-group (left: 0). Same for the bottom:0 value, the FAQ won't go past that position when it animates */
                top: 0;
                left: 0;
                /* prevents the hidden galleries from overflowing the section, and makes a nice animations to transition to and from */
                transform: scaleY(0);

                .cs-faq-item {
                    opacity: 0;
                    transform: rotateX(270deg);
                }
            }
        }

        .cs-faq-item {
            list-style: none;
            width: 100%;
            /* clips all corners of the button that overlap the rounded border */
            overflow: hidden;
            opacity: 1;
            border-bottom: 1px solid #e8e8e8;
            top: 0;
            transform: rotateX(0deg);
            transition:
                transform 0.6s,
                opacity 0.3s;

            &:nth-of-type(2) {
                transition-delay: 0.1s;
            }
            &:nth-of-type(3) {
                transition-delay: 0.2s;
            }
            &:nth-of-type(4) {
                transition-delay: 0.3s;
            }
            &:nth-of-type(5) {
                transition-delay: 0.4s;
            }
            &:nth-of-type(6) {
                transition-delay: 0.5s;
            }
            &:nth-of-type(7) {
                transition-delay: 0.6s;
            }
            &:nth-of-type(8) {
                transition-delay: 0.7s;
            }
            &:nth-of-type(9) {
                transition-delay: 0.8s;
            }
            &:nth-of-type(10) {
                transition-delay: 0.9s;
            }

            &:last-of-type {
                border-bottom: none;
            }

            &.active {
                .cs-button {
                    color: var(--primary);
                    &:before {
                        background-color: var(--primary);
                        transform: rotate(315deg);
                    }
                    &:after {
                        background-color: var(--primary);
                        transform: rotate(-315deg);
                    }
                }
                .cs-item-p {
                    height: auto;
                    /* 20px - 24px bottom */
                    /* 16px - 24px left & right */
                    padding: 0 0 (24/16rem) 0;
                    opacity: 1;
                }
            }
        }

        .cs-button {
            /* 16px - 20px */
            font-size: clamp(1rem, 2vw, 1.25rem);
            font-weight: bold;
            line-height: 1.2em;
            text-align: left;
            width: 100%;
            padding: (24/16rem) 0;
            background-color: #fff;
            color: var(--headerColor);
            border: none;
            display: block;
            position: relative;
            transition:
                background-color 0.3s,
                color 0.3s;

            &:hover {
                cursor: pointer;
            }

            &:before {
                /* left line */
                content: "";
                width: (8/16rem);
                height: (2/16rem);
                background-color: var(--headerColor);
                opacity: 1;
                border-radius: 50%;
                display: block;
                position: absolute;
                top: 50%;
                right: (24/16rem);
                transform: rotate(45deg);
                transition: transform 0.5s;
                /* animate the transform from the left side of the x axis, and the center of the y */
                transform-origin: left center;
            }

            &:after {
                /* right line */
                content: "";
                width: (8/16rem);
                height: (2/16rem);
                background-color: var(--headerColor);
                opacity: 1;
                border-radius: 50%;
                display: block;
                position: absolute;
                top: 50%;
                right: (21/16rem);
                transform: rotate(-45deg);
                transition: transform 0.5s;
                /* animate the transform from the right side of the x axis, and the center of the y */
                transform-origin: right center;
            }
        }

        .cs-button-text {
            width: 80%;
            display: block;
        }

        .cs-item-p {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            line-height: 1.5em;
            width: 90%;
            height: 0;
            margin: 0;
            padding: 0;
            /* clips the text so it doesn't show up */
            overflow: hidden;
            color: var(--bodyTextColor);
            opacity: 0;
            transition:
                opacity 0.3s,
                padding-bottom 0.3s;
        }

        .cs-cta {
            text-align: center;
            width: 100%;
            margin: 0;
            /* 32px - 40px */
            padding: clamp(2rem, 4vw, 2.5rem);
            border: 1px solid var(--primary);
            border-radius: (16/16rem);
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;

            &:before {
                content: "";
                width: 100%;
                height: 100%;
                background: var(--primary);
                opacity: 0.1;
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
                transition: opacity 0.3s;
            }
        }

        .cs-flex {
            display: flex;
            flex-direction: column;
        }

        .cs-cta-title {
            font-size: (31/16rem);
            font-weight: 900;
            line-height: 1.2em;
            margin: 0 0 (16/16rem) 0;
            color: var(--headerColor);
        }

        .cs-cta-text {
            font-size: (16/16rem);
            line-height: 1.5em;
            margin: 0 0 (32/16rem) 0;
            color: var(--bodyTextColor);
        }

        .cs-button-solid {
            font-size: (16/16rem);
            font-weight: 700;
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-align: center;
            text-decoration: none;
            min-width: (208/16rem);
            margin: 0;
            /* prevents padding from adding to the width */
            box-sizing: border-box;
            padding: 0 (32/16rem);
            background-color: var(--primary);
            color: #fff;
            border-radius: (4/16rem);
            display: inline-block;
            position: relative;
            z-index: 1;

            &:before {
                content: '';
                width: 0%;
                height: 100%;
                background: #000;
                opacity: 1;
                border-radius: (4/16rem);
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
                transition: width 0.3s;
            }

            &:hover {
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-graphic {
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
            bottom: 0;
            left: 50%;
            z-index: -1;
            transform: translateX(-50%);
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #faq-2066 {
        .cs-container {
            max-width: (1280/16rem);
        }

        .cs-button-group {
            flex-direction: row;
        }
    }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #faq-2066 {
        .cs-option {
            padding: (12/16rem) (24/16rem);
        }

        .cs-cta {
            text-align: left;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            gap: (64/16rem);
        }

        .cs-cta-text {
            margin: 0;
        }

        .cs-button-solid {
            flex-shrink: 0;
        }
    }
}
                                