/* PAGE-SPECIFIC STYLES FOR THE HOME PAGE */

/*-- -------------------------- -->
<---   Side By Side Reverse     -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #sbsr-599 {
        position: relative;
        padding: 0rem 2rem;
        margin-bottom: 2rem;

        .cs-container {
            width: 100%;
            max-width: (1280/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }
        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            max-width: (522/16rem);
            /* moved section padding to cs-content so the cs-background can be full width */

            /* prevents padding and border from affecting height and width */
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
        }

        .cs-text {
            margin-bottom: (16/16rem);
            &:last-of-type {
                margin-bottom: (32/16rem);
            }
        }

        .cs-background {
            display: none;
            position: relative;
            width: 100%;
            height: (256/16rem);
            z-index: 1;

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                object-fit: cover;
                border-top-left-radius: (16/16rem);
                border-bottom-left-radius: (16/16rem);
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #sbsr-599 {
        /* 90px - 150px */
        /* returned section padding to the section container, this Stitch has 1.5X padding top and bottom than the normal Stitch */
        padding: clamp(5.625rem, 9vw, 9.375rem) (16/16rem);
        margin: 5rem 0rem;
        .cs-container {
            flex-direction: row;
            justify-content: flex-start;
        }

        .cs-background {
            display: block;
            width: 50%;
            height: auto;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 50%;
        }

        .cs-content {
            width: 45%;
            padding: 0;
        }
    }
}

/*-- -------------------------- -->
<---           Quote            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #quote-561 {
      background-color: transparent;
      background: url('/assets/images/quote.webp') center center/cover no-repeat fixed;
      position: relative;
    }
    #quote-561 .cs-content {
      text-align: center;
      padding: 5rem;
    }
    #quote-561 .cs-container {
      position: relative;
      z-index: 1;
      background-color: rgba(0, 0, 0, 0.8);
    }
  
    #quote-561 .cs-quote {
      font-size: 1.5em;
      line-height: 1.2em;
      font-weight: 600;
      margin: 0;
      color: var(--headerColor);
      padding-top: 2rem;
    }
  
    #quote-561 .cs-name {
      font-size: clamp(1rem, 1.7vw, 1.25rem);
      line-height: 1.2em;
      font-weight: bolder;
      margin: 0;
      padding-top: 2rem;
      color: var(--secondary);
      display: block;
      letter-spacing: 0.01em;
    }
  
    #quote-561 .cs-company {
      font-size: clamp(1rem, 1.7vw, 1.25rem);
      line-height: 1.2em;
      font-weight: 400;
      font-style: italic;
      margin: 0;
      padding: 0.5rem;
      color: var(--secondary);
      display: block;
      letter-spacing: 0.01em;
      text-align: center;
    }
  
    #quote-561 .cs-name,
    #quote-561 .cs-company {
      color: white;
    }
  }

/*-- -------------------------- -->
<---           Blog             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #blog-1144 {
        padding: 2rem;
        background-color: var(--backgroundColor);
        position: relative;
        z-index: 1;

        .cs-container {
            width: 100%;
            /* changes to 1280px at tablet */
            max-width: (784/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
        }

        .cs-title {
            /* max width of 18 characters, incldues spaces between words */
            max-width: 20ch;
        }

        .cs-card-group {
            width: 100%;
            padding: 0;
            margin: 0;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            gap: (20/16rem);
        }

        .cs-item {
            text-align: left;
            list-style: none;
            border-radius: (16/16rem);
            overflow: hidden;
            background-color: var(--headerBackgroundColor);
            grid-column: span 12;
            display: flex;
            cursor: pointer;
            flex-direction: column;
            justify-content: space-between;
            position: relative;
            z-index: 1;
            transition:
                box-shadow 0.3s,
                transform 0.3s;

            &:hover {
                box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
                .cs-picture {
                    img {
                        opacity: 0.3;
                        transform: scale(1.1);
                    }
                }
            }
        }

        .cs-picture {
            width: 100%;
            height: (240/16rem);
            background-color: #1a1a1a;
            overflow: hidden;
            display: block;
            /* prevents flexbox from squishing it */
            flex: none;
            position: relative;
            z-index: 1;

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                object-fit: cover;
                transition:
                    transform 0.6s,
                    opacity 0.3s;
            }
        }

        .cs-flex {
            height: 100%;
            padding: (24/16rem);
            /* prevents padding and border from affecting height and width */
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            position: relative;
            z-index: 2;
        }

        .cs-h3 {
            font-size: (20/16rem);
            text-align: inherit;
            line-height: 1.2em;
            font-weight: 700;
            color: var(--secondary);
            margin: 0 0 (12/16rem) 0;
            transition: color 0.3s;
        }

        .cs-item-text {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            line-height: 1.5em;
            text-align: inherit;
            margin: 0 0 (20/16rem);
            color: var(--bodyTextColor);
        }

        .cs-link {
            font-size: (16/16rem);
            line-height: 1.2em;
            font-weight: 700;
            text-decoration: none;
            margin-top: auto;
            color: var(--secondary);
            display: flex;
            align-items: center;
            justify-content: center;

            &:hover {
                .cs-arrow {
                    transform: translateX(0.25rem);
                }
            }
        }

        .cs-arrow {
            width: (20/16rem);
            height: auto;
            transition: transform 0.3s;
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #blog-1144 {
        .cs-container {
            max-width: (1280/16rem);
        }

        .cs-content {
            text-align: left;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-end;
        }

        .cs-title {
            margin: 0;
        }

        .cs-item {
            grid-column: span 4;
        }
    }
}

/*-- -------------------------- -->
<---       Uganda         -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #uganda-999 {
      position: relative;
    }
  
    #uganda-999::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: url(/assets/svgs/white-waves.svg);
    }
  }
    #uganda-999 .cs-container {
      padding: 2rem;
      width: 100%;
      max-width: 80rem;
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: clamp(3rem, 6vw, 4rem);
  }
    #uganda-999 .cs-content {
        /* set text align to left if content needs to be left aligned */
        text-align: left;
        width: 100%;
        max-width: 32.625rem;
        /* prevents padding and border from affecting height and width */
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        /* centers content horizontally, set to flex-start to left align */
        align-items: flex-start;
    }
    #uganda-999 .cs-title {
     line-height: 1.2; 
    }
    #uganda-999 .cs-text {
        margin-bottom: 1rem;
        font-weight: 400;
        font-size: large;      
    }
    #uganda-999 .cs-text:last-of-type {
        margin-bottom: 2rem;
    }
    #uganda-999 .cs-background {
        display: block;
        position: relative;
        width: 100%;
        height: 16rem;
        z-index: 1;
    }
    #uganda-999 .cs-background img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
    }
  
  /* Styles for screens with a minimum width of 48rem (768px) */
  @media only screen and (min-width: 48rem) {
  #uganda-999 {
      padding: clamp(5.625rem, 9vw, 9.375rem) 1rem;
     /* margin: 5rem 0rem;                                                     SWITCH THIS OUT WHEN MARK MAKES BLOGS*/
      margin: 0rem;
      margin-top: 3rem;
      transform: scaleX(-1);
  }
  #uganda-999 .cs-container {
      flex-direction: row; /* Switch to a horizontal layout for screens 48rem and above */
      justify-content: space-between; /* Add space between items */
      align-items: flex-start; /* Align items to the start of the cross axis */
  }
  #uganda-999 .cs-background {
    display: block;
      width: 50%;
      height: auto;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 50%;
      margin: 0;
  }
  #uganda-999 .cs-content {
    transform: scaleX(-1);
      width: 45%;
      padding: 0;
      text-align: left; /* Align text content to the left */
  }
  #uganda-999 .cs-background img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  }

/*-- -------------------------- -->
<---           Blog             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #blog-1580 {
        padding: 2rem;
        position: relative;
        z-index: 1;
        
        .cs-container {
            width: 100%;
            /* changes to 1280px at tablet */
            max-width: (584/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
        }
    
        .cs-title {
            max-width: 20ch;
        }

        .cs-card-group {
            width: 100%;
            padding: 0;
            margin: 0;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            row-gap: (28/16rem);
            /* 16px - 20px */
            column-gap: clamp(1rem, 2.5vw, 1.25rem);
        }

        .cs-item {
            text-align: left;
            list-style: none;
            overflow: hidden;
            grid-column: span 12;
            position: relative;
            z-index: 1;
            transition: box-shadow .3s, transform .3s;

            &:hover {
                .cs-picture {
                    img {
                        opacity: .3;
                        transform: scale(1.1);
                    }
                }
            }
        }

        .cs-link {
            text-decoration: none;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        .cs-picture {
            width: 100%;
            min-height: (220/16rem);
            /* changes at tablet */
            max-height: (300/16rem);
            height: 100vw;
            /* 16px - 24px */
            margin: 0 0 clamp(1rem, 3vw, 1.5rem) 0;
            background-color: #1a1a1a;
            overflow: hidden;
            display: block;
            /* prevents flexbox from squishing it */
            flex: none;
            position: relative;
            z-index: 1;

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                object-fit: cover;
                transition: transform .6s, opacity .3s;
            }
        }

        .cs-flex {
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            position: relative;
            z-index: 2;
        }

        .cs-date {
            font-size: (16/16rem);
            line-height: 1.2em;
            font-weight: 700;
            text-align: inherit;
            margin: 0 0 (32/16rem) 0;
            padding: (8/16rem) (16/16rem);
            /* prevents padding from affecting height and width */
            box-sizing: border-box;
            background-color: var(--secondary);
            color: #1a1a1a;
            display: inline-block;
            position: absolute;
            left: (16/16rem);
            bottom: 100%;
            z-index: 2;
        }

        .cs-h3 {
            /* 20px - 25px */
            font-size: clamp(1.25rem, 2.5vw, 1.5625rem);
            text-align: inherit;
            line-height: 1.2em;
            font-weight: 700;
            color: var(--secondary);
            /* 12px - 16px */
            margin: 0 0 clamp(.75rem, 2vw, 1rem) 0;
            transition: color .3s;
        }

        .cs-item-text {
            /* 14px - 16px */
            font-size: clamp(.875rem, 1.5vw, 1rem);
            line-height: 1.5em;
            text-align: inherit;
            margin: 0;
            color: var(--bodyTextColor);
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #blog-1580 {
        .cs-container {
            max-width: (1280/16rem);
        }

        .cs-content {
            text-align: left;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-end;
        }

        .cs-title {
            margin: 0;
        }

        .cs-item {
            grid-column: span 4;
        }

        .cs-picture {
            min-height: (180/16rem);
            /* 180px - 284px */
            height: clamp(11.25rem, 23vw, 17.75rem);
            max-height: 100%;
            border-radius: (16/16rem);
        }
    }
}