/*-- -------------------------- -->
<---            CTA             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #cta {
        background-color: var(--primary);
        box-sizing: border-box;
        overflow: hidden;
        position: relative;

        .cs-container {
            width: 100%;
            max-width: (1280/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            max-width: (630/16rem);
            padding: var(--sectionPadding);
            /* prevents padding and border from affecting height and width */
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
            z-index: 20;
        }

        .cs-topper,
        .cs-text {
            color: var(--headerColor);
        }

        .cs-text {
            margin-bottom: (16/16rem);
            &:last-of-type {
                margin-bottom: (32/16rem);
            }
        }

        .cs-button-solid {
            font-size: (16/16rem);
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-decoration: none;
            font-weight: 700;
            text-align: center;
            margin: 0;
            color: #fff;
            min-width: (150/16rem);
            padding: 0 (24/16rem);
            background-color: #1a1a1a;
            display: inline-block;
            position: relative;
            z-index: 1;
            /* prevents padding from adding to the width */
            box-sizing: border-box;
            transition: color 0.3s;

            &:before {
                content: "";
                position: absolute;
                height: 100%;
                width: 0%;
                background: #fff;
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                transition: width 0.3s;
            }

            &:hover {
                color: #1a1a1a;
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-form {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            /* 16px - 20px */
            gap: clamp(1rem, 2.3vw, 1.25rem);
        }

        .cs-input {
            font-size: (16/16rem);
            width: 100%;
            height: clamp(2.875rem, 5.5vw, 3.5rem);
            margin: 0;
            padding: 0;
            padding-left: (20/16rem);
            border: none;
            /* prevents padding from adding to width and height */
            box-sizing: border-box;
            display: block;
            &::placeholder {
                color: #767676;
            }
        }

        .cs-submit {
            width: 100%;
            padding: 0 (32/16rem);
            border: none;
            /* prevents flexbox from squishing it */
            flex: none;
        }

        .cs-background {
            width: 100%;
            height: (380/16rem);
            overflow: hidden;
            display: block;
            position: relative;

            &:before {
                /* yellow slants */
                content: "";
                width: (350/16rem);
                height: 300%;
                background: var(--primary);
                opacity: 1;
                position: absolute;
                display: block;
                top: (-200/16rem);
                left: (-190/16rem);
                z-index: 10;
                transform: rotate(-30deg);
                outline: (50/16rem) solid rgba(237, 167, 8, 0.4);
            }

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                /* Makes img tag act as a background image */
                object-fit: cover;
            }
        }

        .cs-floater {
            width: 70%;
            max-width: (652/16rem);
            height: auto;
            opacity: 0.2;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 10;
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #cta {
        /* moved padding back to the section container */
        padding: var(--sectionPadding);

        .cs-container {
            align-items: center;
            flex-direction: row;
            justify-content: flex-start;
        }

        .cs-content {
            text-align: left;
            width: 57%;
            padding: 0;
            align-items: flex-start;
            position: relative;
            z-index: initial;

            &:before {
                /* yellow slants, adjust the rotate degree and right value if you add more content to account for the extra height of the cs-content container */
                content: "";
                width: (350/16rem);
                height: 400%;
                background: var(--primary);
                opacity: 1;
                position: absolute;
                display: block;
                top: (-500/16rem);
                right: (30/16rem);
                z-index: 1;
                transform: rotate(-30deg);
                outline: (50/16rem) solid rgba(237, 167, 8, 0.4);
            }
        }

        .cs-topper,
        .cs-title,
        .cs-text {
            position: relative;
            z-index: 20;
        }

        .cs-form {
            flex-direction: row;
            justify-content: flex-start;
            position: relative;
            z-index: 20;
        }

        .cs-input {
            width: 100%;
        }

        .cs-submit {
            width: auto;
        }

        .cs-background {
            width: 60%;
            height: 100%;
            position: absolute;
            right: 0;
            top: 0;

            &:before {
                /* moved it to the cs-content for easier positioning */
                display: none;
            }
        }
    }
}

/* Large Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
    #cta {
        min-height: (600/16rem);
        display: flex;
        align-items: center;
    }
}

                                