---json
{
  "permalink": "feed.xml",
  "eleventyExcludeFromCollections": true,
  "metadata": {
    "title": "Blogs",
    "subtitle": "View our current blogs.",
    "language": "en",
    "url": "https://elite-earthworks.com",
    "author": {
      "name": "Mark Schwab",
      "email": "me@example.com"
    }
  }
}
---
<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xmlns:dc="http://purl.org/dc/elements/1.1/" xml:base="{{ metadata.url }}" xmlns:atom="http://www.w3.org/2005/Atom" xmlns:media="http://search.yahoo.com/mrss/">
    <channel>
        <title>{{ metadata.title }}</title>
        <link>{{ metadata.url }}</link>
        <atom:link href="{{ permalink | absoluteUrl(metadata.url) }}" rel="self" type="application/rss+xml"/>
        <description>{{ metadata.subtitle }}</description>
        <language>{{ metadata.language }}</language>
        {%- for post in collections.posts | reverse %}
            {%- set absolutePostUrl = post.url | absoluteUrl(metadata.url) %}
            <item>
                <title>{{ post.data.title }}</title>
                <link>{{ absolutePostUrl }}</link>
                <description>{{ post.templateContent | htmlToAbsoluteUrls(absolutePostUrl) }}</description>
                <pubDate>{{ post.date | dateToRfc822 }}</pubDate>
                <dc:creator>{{ metadata.author.name }}</dc:creator>
                <guid>{{ absolutePostUrl }}</guid>
                <media:content url="{{ metadata.url }}{{ post.data.image }}" medium="image" width="708" height="400"></media:content>
            </item>
        {%- endfor %}
    </channel>
</rss>