---
title: 'Home'
description: 'Meta description for the page'
permalink: '/'
preloadImg: '/assets/images/elite-construction-p.webp'
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css" />
    <link rel="stylesheet" href="/assets/css/critical.css" />

    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-1426">
    <div class="cs-container">
        <div class="cs-content">
            <h1 class="cs-title">Building Skills, Constructing Futures</h1>
            <p class="cs-text">
                We are Southern California's premiere grading, excavating, demolition, and construction services company.
            </p>
            <div class="cs-button-group">
                <a href="/about" class="cs-button-solid">Why Elite?</a>
                <a href="/contact" class="cs-button-solid">Contact Us</a>
            </div>
        </div>
    </div>

    <!-- Background video -->
  
    <video class="cs-video" loading="lazy" autoplay muted loop playsinline>
        <source media="(max-width: 600px)" src="https://eliteconstruction.nyc3.cdn.digitaloceanspaces.com/EliteConstruction.mp4" type="video/mp4">
        <source media="(min-width: 601px)" src="https://eliteconstruction.nyc3.cdn.digitaloceanspaces.com/EliteConstruction.mp4" type="video/mp4">
        <img src="/assets/images/elite-construction-p.webp" alt="Poster image for desktop" media="(min-width: 601px)">
        <img src="/assets/images/elite-construction-p-m.webp" alt="Poster image for mobile" media="(max-width: 600px)">
    </video>
    
    
    <div class="bg-shadow"></div>
</section>

<!-- ============================================ -->
<!--                    Services                  -->
<!-- ============================================ -->

<section id="services-1354">
    <div class="cs-container">
        <div class="cs-content">
            <h2 class="cs-title">Popular Services</h2>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <a href="/rough-grading" class="cs-link">
                    <h2 class="cs-h3"><span class="cs-span">Rough</span> Grading</h2>
                </a>
                <picture class="cs-background">
                    <source media="(max-width: 600px)" srcset="/assets/images/rough-grading-m.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/rough-grading.webp">
                    <img decoding="async" src="/assets/images/rough-grading.webp" alt="Rough Grading" width="305" height="305" aria-hidden="true">
                </picture>
            </li>
            <li class="cs-item">
                <a href="/precise-grading" class="cs-link">
                    <h2 class="cs-h3"><span class="cs-span">Precise</span> Grading</h2>
                </a>
                <picture class="cs-background">
                    <source media="(max-width: 600px)" srcset="/assets/images/precise-grading-m.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/precise-grading.webp">
                    <img decoding="async" src="/assets/images/precise-grading.webp" alt="Precise Grading" width="305" height="305" aria-hidden="true">
                </picture>
            </li>
            <li class="cs-item">
                <a href="/public-works" class="cs-link">
                    <h2 class="cs-h3"><span class="cs-span">Public</span> Works</h2>
                </a>
                <picture class="cs-background">
                    <source media="(max-width: 600px)" srcset="/assets/images/public-works-m.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/public-works.webp">
                    <img decoding="async" src="/assets/images/public-works.webp" alt="Excavator" width="305" height="305" aria-hidden="true">
                </picture>
            </li>
            <li class="cs-item">
                <a href="/demolition" class="cs-link">
                    <h2 class="cs-h3"><span class="cs-span">Demolition</span></h2>
                </a>
                <picture class="cs-background">
                    <source media="(max-width: 600px)" srcset="/assets/images/demolition-m.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/demolition.webp">
                    <img decoding="async" src="/assets/images/demolition.webp" alt="Demolition and Land Clearing" width="305" height="305" aria-hidden="true">
                </picture>
            </li>
        </ul>
    </div>
</section>

<!-- ============================================ -->
<!--            Side By Side Reverse              -->
<!-- ============================================ -->

<section id="sbsr-599">
    <div class="cs-container">
        <div class="cs-content">
            <h2 class="cs-title">About Us</h2>
            <p class="cs-text">
                Elite Earthworks and Engineering is a Southern California Grading, excavating, and demolition contractor with a reputation of delivering projects to our clients with the highest quality of workmanship. We pride ourselves on delivering our work on time and within budget. We were founded in 1989 and have remained strong through the years by satisfying loyal customers. Whether you require comprehensive site preparation, intricate utility installations, or precision concrete and asphalt paving preparation, Elite Earthworks is your trusted partner. Our expertise across a wide spectrum of construction services ensures we can tackle any project, big or small. 
            </p>
    </div>
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="/assets/images/blog/expertise-m.webp">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="/assets/images/blog/expertise.webp">
        <img loading="lazy" decoding="async" src="/assets/images/blog/expertise.webp" alt="expertise" width="960" height="796">
    </picture>
</section>

<!-- ============================================ -->
<!--                   Quote                      -->
<!-- ============================================ -->
<!--
<section id="quote-561">
    <div class="cs-container">
        <div class="cs-content">
            <p class="cs-quote">
                This is a very legitimate quote on how amazing this company is! I am a super satisfied customer who uses this business all the time.
            </p>
            <span class="cs-name">Dan Smith</span>
            <span class="cs-company">The Fake Company</span>
        </div>
    </div>
</section>-->
             
<!-- ============================================ -->
<!--                    Blog                      -->
<!-- ============================================ -->

<section id="blog-1144">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-content-flex">
                <h2 class="cs-title">Our Projects</h2>
            </div>
    <!--        <a href="/projects" class="cs-button-solid">View All</a>-->
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <picture class="cs-picture" aria-hidden="true">
                    <source media="(max-width: 600px)" srcset="/assets/images/hemet-m.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/hemet.webp">
                    <img loading="lazy" decoding="async" src="/assets/images/hemet.webp" alt="Hemet" width="305" height="180">
                </picture>
                <div class="cs-flex">
                    <h3 class="cs-h3">Hemet</h3>
                    <p class="cs-item-text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit distinctio quas asperiores reiciendis! Facilis quia recusandae vel facere delect corrupti!
                    </p>
                <!--    <a href="" class="cs-link">
                        View Full Project
                        <img class="cs-arrow" loading="lazy" decoding="async" src="/assets/svgs/event-chevron.svg" alt="icon" width="20" height="20" aria-hidden="true">
                    </a>-->
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture" aria-hidden="true">
                    <source media="(max-width: 600px)" srcset="/assets/images/faith-bible-church-m.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/faith-bible-church.webp">
                    <img loading="lazy" decoding="async" src="/assets/images/faith-bible-church.webp" alt="Faith Bible Church" width="305" height="180">
                </picture>
                <div class="cs-flex">
                    <h3 class="cs-h3">Faith Bible Church</h3>
                    <p class="cs-item-text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit distinctio quas asperiores reiciendis! Facilis quia recusandae vel facere delect corrupti!
                    </p>
                <!--    <a href="" class="cs-link">
                        View Full Project
                        <img class="cs-arrow" loading="lazy" decoding="async" src="/assets/svgs/event-chevron.svg" alt="icon" width="20" height="20" aria-hidden="true">
                    </a>-->
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture" aria-hidden="true">
                    <source media="(max-width: 600px)" srcset="/assets/images/Richland-elementary-school-m.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/Richland-elementary-school.webp">
                    <img loading="lazy" decoding="async" src="/assets/images/Richland-elementary-school.webp" alt="Richland Elementary School" width="305" height="180">
                </picture>
                <div class="cs-flex">
                    <h3 class="cs-h3">Richland Elementary School</h3>
                    <p class="cs-item-text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit distinctio quas asperiores reiciendis! Facilis quia recusandae vel facere delect corrupti!
                    </p>
                  <!--  <a href="" class="cs-link">
                        View Full Project
                        <img class="cs-arrow" loading="lazy" decoding="async" src="/assets/svgs/event-chevron.svg" alt="icon" width="20" height="20" aria-hidden="true">
                    </a>-->
                </div>
            </li>
        </ul>
    </div>
</section>

<!-- ============================================ -->
<!--                Uganda                  -->
<!-- ============================================ -->

<section id="uganda-999">
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="/assets/images/uganda-group-pic-m.webp">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="/assets/images/uganda-group-pic.webp" style="border-radius: 10px;">
        <img loading="lazy" decoding="async" src="/assets/images/uganda-group-pic.webp" alt="Uganda Group Pic" width="960" height="796">
    </picture>
    <div class="cs-container">
        <div class="cs-content">
            <h2 class="cs-title">Giving back To Uganda</h2>
            <p class="cs-text">
                Our construction company is committed to giving back to Uganda by actively participating in community development initiatives. Through partnerships with local organizations, we aim to contribute to the well-being of the Ugandan people. This includes supporting infrastructure projects, providing training opportunities for local residents, and promoting sustainable practices in the construction industry. By investing in the community, we strive to create a positive impact, foster growth, and enhance the overall quality of life for the people of Uganda.
            </p>
            <a href="/uganda" class="cs-button-solid">Making The World A Better Place</a>
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--                    Blog                      -->
<!-- ============================================ -->
<!--
<section id="blog-1580">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-content-flex">
                <h2 class="cs-title">Sharing Our Expertise</h2>
            </div>
            <a href="/blog" class="cs-button-solid">View All</a>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <a href="" class="cs-link">
                    <picture class="cs-picture" aria-hidden="true">
                        <source media="(max-width: 600px)" srcset="/assets/images/blog1-m.webp">
                        <source media="(min-width: 601px)" srcset="/assets/images/blog1.webp">
                        <img loading="lazy" decoding="async" src="/assets/images/blog1.webp" alt="Featured Blog Post 1" width="413" height="284">
                    </picture>
                    <div class="cs-flex">
                        <span class="cs-date">8th Oct, 2023</span>
                        <h3 class="cs-h3">Top 10 Most Important Ice Fishing Gear Items</h3>
                        <p class="cs-item-text">
                            Gearing up for winter ice fishing can be overwhelming. Whether it is your first time out, or you have drilled...
                        </p>
                    </div>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <picture class="cs-picture" aria-hidden="true">
                        <source media="(max-width: 600px)" srcset="/assets/images/blog1-m.webp">
                        <source media="(min-width: 601px)" srcset="/assets/images/blog1.webp">
                        <img loading="lazy" decoding="async" src="/assets/images/blog1.webp" alt="Featured Blog Post 2" width="413" height="284">
                    </picture>
                    <div class="cs-flex">
                        <span class="cs-date">8th Oct, 2023</span>
                        <h3 class="cs-h3">Top 10 Most Important Ice Fishing Gear Items</h3>
                        <p class="cs-item-text">
                            Gearing up for winter ice fishing can be overwhelming. Whether it is your first time out, or you have drilled...
                        </p>
                    </div>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <picture class="cs-picture" aria-hidden="true">
                        <source media="(max-width: 600px)" srcset="/assets/images/blog1-m.webp">
                        <source media="(min-width: 601px)" srcset="/assets/images/blog1.webp">
                        <img loading="lazy" decoding="async" src="/assets/images/blog1.webp" alt="Featured Blog Post 3" width="413" height="284">
                    </picture>
                    <div class="cs-flex">
                        <span class="cs-date">8th Oct, 2023</span>
                        <h3 class="cs-h3">
                            Top 10 Most Important Ice Fishing Gear Items
                        </h3>
                        <p class="cs-item-text">
                            Gearing up for winter ice fishing can be overwhelming. Whether it is your first time out, or you have drilled...
                        </p>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</section>             
-->
{% endblock %}