---
title: 'Home'
description: "Discover Elite Earthworks, Southern California&#39;s leading name in
grading, excavation, and demolition since 1989."
permalink: '/'
preloadImg: '/assets/images/elite-construction-p.webp'
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css" />
    <link rel="stylesheet" href="/assets/css/critical.css" />

    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-1426">
    <div class="cs-container">
        <div class="cs-content">
            <h1 class="cs-title">Unearthing Potential & Shaping Success</h1>
            <p class="cs-text">
                Groundbreaking work in grading, demolition, excavation, and public projects in Southern
                California. Ready to construct your next big idea?            
            </p>
            <div class="cs-button-group">
                <a href="/about" class="cs-button-solid">Why Elite?</a>
                <a href="/contact" class="cs-button-solid">Contact Us</a>
            </div>
        </div>
    </div>

    <!-- Background video -->
    <!--<video class="cs-video" loading="lazy" src="https://eliteconstruction.nyc3.cdn.digitaloceanspaces.com/EliteConstruction.mp4" poster="/assets/images/elite-construction-p.webp" autoplay muted loop playsinline></video>
-->
    <video class="cs-video" loading="lazy" autoplay muted loop playsinline>
        <source media="(max-width: 600px)" src="https://eliteconstruction.nyc3.cdn.digitaloceanspaces.com/dg311k_1.mp4" type="video/mp4">
        <source media="(min-width: 601px)" src="https://eliteconstruction.nyc3.cdn.digitaloceanspaces.com/630ac7f9-e81c-4d23-ae21-2a7a0c6267ba.mp4" type="video/mp4">
        <img srcset="/assets/images/elite-construction-p.webp" alt="Poster image for desktop" media="(min-width: 601px)">
        <img srcset="/assets/images/elite-construction-p-m.webp" alt="Poster image for mobile" media="(max-width: 600px)">
    </video>    

    <div class="bg-shadow"></div>
</section>

<!-- ============================================ -->
<!--                    Services                  -->
<!-- ============================================ -->

<section id="services-1354">
    <div class="cs-container">
        <div class="cs-content">
            <h2 class="cs-title">Popular Services</h2>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <a href="/rough-grading" class="cs-link">
                    <h2 class="cs-h3"><span class="cs-span">Rough</span> Grading</h2>
                </a>
                <picture class="cs-background">
                    <source media="(max-width: 600px)" srcset="/assets/images/rough-grading-m.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/rough-grading.webp">
                    <img decoding="async" src="/assets/images/rough-grading.webp" alt="Rough Grading" width="305" height="305" aria-hidden="true">
                </picture>
            </li>
            <li class="cs-item">
                <a href="/precise-grading" class="cs-link">
                    <h2 class="cs-h3"><span class="cs-span">Precise</span> Grading</h2>
                </a>
                <picture class="cs-background">
                    <source media="(max-width: 600px)" srcset="/assets/images/precise-grading-m.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/precise-grading.webp">
                    <img decoding="async" src="/assets/images/precise-grading.webp" alt="Precise Grading" width="305" height="305" aria-hidden="true">
                </picture>
            </li>
            <li class="cs-item">
                <a href="/public-works" class="cs-link">
                    <h2 class="cs-h3"><span class="cs-span">Public</span> Works</h2>
                </a>
                <picture class="cs-background">
                    <source media="(max-width: 600px)" srcset="/assets/images/public-works-m.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/public-works.webp">
                    <img decoding="async" src="/assets/images/public-works.webp" alt="Excavator" width="305" height="305" aria-hidden="true">
                </picture>
            </li>
            <li class="cs-item">
                <a href="/demolition" class="cs-link">
                    <h2 class="cs-h3"><span class="cs-span">Demolition</span></h2>
                </a>
                <picture class="cs-background">
                    <source media="(max-width: 600px)" srcset="/assets/images/demolition-m.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/demolition.webp">
                    <img decoding="async" src="/assets/images/demolition.webp" alt="Demolition and Land Clearing" width="305" height="305" aria-hidden="true">
                </picture>
            </li>
        </ul>
    </div>
</section>

<!-- ============================================ -->
<!--            Side By Side Reverse              -->
<!-- ============================================ -->

<section id="sbsr-599">
    <div class="cs-container">
        <div class="cs-content">
            <h2 class="cs-title">Meet the <i>Elite</i></h2>
            <p class="cs-text">
                Since 1989, we at Elite Earthworks have distinguished ourselves as the industry leader among grading 
                companies in Southern California. Our reputation for quality and
                precision is the reason we are the preferred grading contractor for projects that demand
                only the very best.            
            </p>
            <p class="cs-text">
                Time and budget are as crucial to us as they are to you. Our history of punctuality and
                cost-effectiveness is just one of the reasons why clients choose to stick with us year after
                year. We cover everything from basic site preparation, detailed utility projects, and paving
                preparation for concrete and asphalt, to government contracting in California and major
                California public works.
            </p>
            <p class="cs-text">
                Elite’s diverse skills assure that no project is too complex. When looking for the best grading
                companies in Southern California or trustworthy California demolition contractors, Elite
                Earthworks is your top choice and your very best option for building into the future.
            </p>
    </div>
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="/assets/images/blog/expertise-m.webp">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="/assets/images/blog/expertise.webp">
        <img loading="lazy" decoding="async" src="/assets/images/blog/expertise.webp" alt="expertise" width="960" height="796">
    </picture>
</section>

<!-- ============================================ -->
<!--                   Quote                      -->
<!-- ============================================ -->
<!--
<section id="quote-561">
    <div class="cs-container">
        <div class="cs-content">
            <p class="cs-quote">
                This is a very legitimate quote on how amazing this company is! I am a super satisfied customer who uses this business all the time.
            </p>
            <span class="cs-name">Dan Smith</span>
            <span class="cs-company">The Fake Company</span>
        </div>
    </div>
</section>-->
             
<!-- ============================================ -->
<!--                    Blog                      -->
<!-- ============================================ -->

<section id="blog-1144">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-content-flex">
                <h2 class="cs-title">Our Projects</h2>
            </div>
    <!--        <a href="/projects" class="cs-button-solid">View All</a>-->
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <picture class="cs-picture" aria-hidden="true">
                    <source media="(max-width: 600px)" srcset="/assets/images/hemet-m.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/hemet.webp">
                    <img loading="lazy" decoding="async" src="/assets/images/hemet.webp" alt="Hemet" width="305" height="180">
                </picture>
                <div class="cs-flex">
                    <h3 class="cs-h3">Hemet</h3>
                    <p class="cs-item-text">
                        Hemet, California is a small city located in Riverside County known for its charming downtown district and access to golf courses like Seven Hills Golf Course and Diamond Valley Lake.
                    </p>
                <!--    <a href="" class="cs-link">
                        View Full Project
                        <img class="cs-arrow" loading="lazy" decoding="async" src="/assets/svgs/event-chevron.svg" alt="icon" width="20" height="20" aria-hidden="true">
                    </a>-->
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture" aria-hidden="true">
                    <source media="(max-width: 600px)" srcset="/assets/images/faith-bible-church-m.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/faith-bible-church.webp">
                    <img loading="lazy" decoding="async" src="/assets/images/faith-bible-church.webp" alt="Faith Bible Church" width="305" height="180">
                </picture>
                <div class="cs-flex">
                    <h3 class="cs-h3">Faith Bible Church</h3>
                    <p class="cs-item-text">
                        A God-centered, Bible-saturated church in Murrieta-Temecula, that works hard to equip Christians to do the work of ministry.

                    </p>
                <!--    <a href="" class="cs-link">
                        View Full Project
                        <img class="cs-arrow" loading="lazy" decoding="async" src="/assets/svgs/event-chevron.svg" alt="icon" width="20" height="20" aria-hidden="true">
                    </a>-->
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture" aria-hidden="true">
                    <source media="(max-width: 600px)" srcset="/assets/images/Richland-elementary-school-m.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/Richland-elementary-school.webp">
                    <img loading="lazy" decoding="async" src="/assets/images/Richland-elementary-school.webp" alt="Richland Elementary School" width="305" height="180">
                </picture>
                <div class="cs-flex">
                    <h3 class="cs-h3">Richland Elementary School</h3>
                    <p class="cs-item-text">
                        Richland Elementary School, located in San Marcos, California, is a highly rated public school serving students in grades K-5.
                    </p>
                  <!--  <a href="" class="cs-link">
                        View Full Project
                        <img class="cs-arrow" loading="lazy" decoding="async" src="/assets/svgs/event-chevron.svg" alt="icon" width="20" height="20" aria-hidden="true">
                    </a>-->
                </div>
            </li>
        </ul>
    </div>
</section>

<!-- ============================================ -->
<!--                Uganda                  -->
<!-- ============================================ -->

<section id="uganda-999">
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="/assets/images/uganda-group-pic-m.webp">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="/assets/images/uganda-group-pic.webp" style="border-radius: 10px;">
        <img loading="lazy" decoding="async" src="/assets/images/uganda-group-pic.webp" alt="Uganda Group Pic" width="960" height="796">
    </picture>
    <div class="cs-container">
        <div class="cs-content">
            <h2 class="cs-title">Knowledge Without Borders</h2>
            <p class="cs-text">
                Our grading expertise has no limits, as we go beyond the borders of Southern California
                to reach the beautiful region of Uganda—a place brimming with culture, opportunities, and
                plenty of potential for growth.
            </p>
            <p class="cs-text">
                In collaboration with local organizations, we stand shoulder to shoulder with the Ugandan
                community by training residents, endorsing sustainable construction projects, and providing
                a helping hand in Uganda’s infrastructure projects.
            </p>
            <p class="cs-text">
                Our mission? To leave a lasting legacy that will help steer the future in the right direction. We
                aim to empower and uplift those who call Uganda home, all while making a tangible
                difference in the lives of individuals and the broader community.
            </p>
            <p class="cs-text">
                Together, we move forward in creating a brighter, more sustainable chapter for Uganda and its wonderful residents.
            </p>
            <a href="/uganda" class="cs-button-solid">Making The World A Better Place</a>
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--                    Blog                      -->
<!-- ============================================ -->
<!--
<section id="blog-1580">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-content-flex">
                <h2 class="cs-title">Sharing Our Expertise</h2>
            </div>
            <a href="/blog" class="cs-button-solid">View All</a>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <a href="" class="cs-link">
                    <picture class="cs-picture" aria-hidden="true">
                        <source media="(max-width: 600px)" srcset="/assets/images/blog1-m.webp">
                        <source media="(min-width: 601px)" srcset="/assets/images/blog1.webp">
                        <img loading="lazy" decoding="async" src="/assets/images/blog1.webp" alt="Featured Blog Post 1" width="413" height="284">
                    </picture>
                    <div class="cs-flex">
                        <span class="cs-date">8th Oct, 2023</span>
                        <h3 class="cs-h3">Top 10 Most Important Ice Fishing Gear Items</h3>
                        <p class="cs-item-text">
                            Gearing up for winter ice fishing can be overwhelming. Whether it is your first time out, or you have drilled...
                        </p>
                    </div>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <picture class="cs-picture" aria-hidden="true">
                        <source media="(max-width: 600px)" srcset="/assets/images/blog1-m.webp">
                        <source media="(min-width: 601px)" srcset="/assets/images/blog1.webp">
                        <img loading="lazy" decoding="async" src="/assets/images/blog1.webp" alt="Featured Blog Post 2" width="413" height="284">
                    </picture>
                    <div class="cs-flex">
                        <span class="cs-date">8th Oct, 2023</span>
                        <h3 class="cs-h3">Top 10 Most Important Ice Fishing Gear Items</h3>
                        <p class="cs-item-text">
                            Gearing up for winter ice fishing can be overwhelming. Whether it is your first time out, or you have drilled...
                        </p>
                    </div>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <picture class="cs-picture" aria-hidden="true">
                        <source media="(max-width: 600px)" srcset="/assets/images/blog1-m.webp">
                        <source media="(min-width: 601px)" srcset="/assets/images/blog1.webp">
                        <img loading="lazy" decoding="async" src="/assets/images/blog1.webp" alt="Featured Blog Post 3" width="413" height="284">
                    </picture>
                    <div class="cs-flex">
                        <span class="cs-date">8th Oct, 2023</span>
                        <h3 class="cs-h3">
                            Top 10 Most Important Ice Fishing Gear Items
                        </h3>
                        <p class="cs-item-text">
                            Gearing up for winter ice fishing can be overwhelming. Whether it is your first time out, or you have drilled...
                        </p>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</section>             
-->
{% endblock %}